Children_Storybook_Automation.json
{
  "name": "Children_Storybook_Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "image-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2640,
        2768
      ],
      "id": "d125365d-46d3-4f71-9da3-8cb53b3977bc",
      "name": "Webhook",
      "webhookId": "f4fc9e42-1f58-4cfa-a645-30a6bd8be5aa"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\n// Get first face (assuming one face in the response)\nconst face = input.faces?.[0];\nconst attributes = face?.attributes || {};\nconst landmark = face?.landmark || {};\n\nconst description = {};\n\n// --- Convert Attributes to Natural Language ---\n\nif (attributes.gender?.value) {\n  description.gender = `Gender is ${attributes.gender.value}`;\n}\n\nif (attributes.smile?.value > attributes.smile?.threshold) {\n  description.smile = \"The person is smiling.\";\n}\n\nif (attributes.headpose) {\n  const { pitch_angle, roll_angle, yaw_angle } = attributes.headpose;\n  description.headpose = `Head pose - Pitch: ${pitch_angle.toFixed(1)}°, Roll: ${roll_angle.toFixed(1)}°, Yaw: ${yaw_angle.toFixed(1)}°`;\n}\n\nif (attributes.facequality?.value >= attributes.facequality?.threshold) {\n  description.image_quality = \"The image is of high quality.\";\n}\n\nif (attributes.blur?.blurness?.value < attributes.blur?.blurness?.threshold) {\n  description.blur = \"The image is clear and not blurry.\";\n}\n\nif (attributes.eyestatus) {\n  const leftOpen = attributes.eyestatus.left_eye_status.normal_glass_eye_open > 90;\n  const rightOpen = attributes.eyestatus.right_eye_status.normal_glass_eye_open > 90;\n  description.eye_status = leftOpen && rightOpen ? \"Both eyes are likely open.\" : \"One or both eyes may be closed or obstructed.\";\n}\n\nif (attributes.mouthstatus?.close === 100) {\n  description.mouth = \"Mouth is closed.\";\n}\n\nif (attributes.emotion) {\n  const sorted = Object.entries(attributes.emotion).sort((a, b) => b[1] - a[1]);\n  const [emotion, confidence] = sorted[0];\n  if (confidence > 50) {\n    description.emotion = `The person is mostly feeling ${emotion}.`;\n  }\n}\n\nif (attributes.beauty) {\n  description.beauty = `Beauty score (female): ${attributes.beauty.female_score.toFixed(1)}, (male): ${attributes.beauty.male_score.toFixed(1)}`;\n}\n\nif (attributes.skinstatus) {\n  description.skin = `Skin health score: ${attributes.skinstatus.health.toFixed(1)}, acne: ${attributes.skinstatus.acne.toFixed(1)}, dark circles: ${attributes.skinstatus.dark_circle.toFixed(1)}, stains: ${attributes.skinstatus.stain.toFixed(1)}`;\n}\n\nif (attributes.eyegaze) {\n  const l = attributes.eyegaze.left_eye_gaze;\n  description.eyegaze = `Looking in direction vector (${l.vector_x_component.toFixed(2)}, ${l.vector_y_component.toFixed(2)}, ${l.vector_z_component.toFixed(2)})`;\n}\n\nif (attributes.glass?.value === \"Normal\") {\n  description.glasses = \"Wearing glasses.\";\n} else if (attributes.glass?.value && attributes.glass?.value !== \"No Glasses\") {\n  description.glasses = `Wearing ${attributes.glass.value.toLowerCase()}.`;\n}\n\n// --- Convert Landmarks to Natural Language ---\n\nconst landmarkDescriptions = [];\nfor (const [key, value] of Object.entries(landmark)) {\n  if (value?.x != null && value?.y != null) {\n    const formattedKey = key.replace(/_/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n    landmarkDescriptions.push(`${formattedKey} is located at (x: ${value.x}, y: ${value.y})`);\n  }\n}\n\n// Combine everything\nreturn [\n  {\n    json: {\n      attributes: description,\n      landmarks: landmarkDescriptions\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        2448
      ],
      "id": "0d07c31b-ff14-4907-bae3-85a7f8235f84",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Here is the link:\nPlease copy the link and paste it in your browser:\n {{ $json.url }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4640,
        528
      ],
      "id": "6421d7c9-1c3b-4b0f-a48b-74253224b6dc",
      "name": "Respond to Webhook",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-us.faceplusplus.com/facepp/v3/detect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key"
            },
            {
              "name": "api_secret"
            },
            {
              "name": "image_url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "return_attributes",
              "value": "ethnicity,gender,smiling,headpose,facequality,blur,eyestatus,eyegaze,skinstatus,emotion,beauty,mouthstatus,glass"
            },
            {
              "name": "return_landmark",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        2448
      ],
      "id": "56afcfff-8715-4563-a1e2-4e3a5786241f",
      "name": "face++",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate?key=xyz",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": {\n        \"source\": {\n          \"imageUri\": \"{{ $json.url }}\"\n        }\n      },\n      \"features\": [\n        { \"type\": \"FACE_DETECTION\", \"maxResults\": 1 },\n        { \"type\": \"OBJECT_LOCALIZATION\", \"maxResults\": 10 },\n        { \"type\": \"LABEL_DETECTION\", \"maxResults\": 10 }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        3008
      ],
      "id": "197d42d1-50b3-4c02-b010-ff191e50db60",
      "name": "Google Vision"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.responses?.[0] || {};\nconst result = {};\n\n// === FACE LIKELIHOODS & ANGLES ===\nconst face = response.faceAnnotations?.[0];\nif (face) {\n  for (const [key, value] of Object.entries(face)) {\n    if (key.endsWith(\"Likelihood\")) {\n      if (!value.includes(\"UNLIKELY\")) {  // Skip Unlikely and Very Unlikely\n        const label = key.replace(\"Likelihood\", \"\");\n        result[label] = value\n          .replace(/_/g, \" \")\n          .toLowerCase()\n          .replace(/\\b\\w/g, l => l.toUpperCase());\n      }\n    }\n    if (key.endsWith(\"Angle\") && typeof value === \"number\") {\n      result[key] = `${Math.round(value)}°`;\n    }\n  }\n}\n\n\n// === LOCALIZED OBJECTS ===\nconst objects = response.localizedObjectAnnotations || [];\nif (objects.length > 0) {\n  result[\"DetectedObjects\"] = objects.map(o => o.name).join(\", \");\n}\n\n// === LABEL ANNOTATIONS ===\nconst labels = response.labelAnnotations || [];\nif (labels.length > 0) {\n  result[\"VisualTraits\"] = labels.map(l => l.description).join(\", \");\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        3008
      ],
      "id": "1fccf111-1d18-4072-aefb-20bbe270f0a0",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -928,
        2656
      ],
      "id": "f6b6de25-3ff8-4472-b888-9fd7d42b2ed9",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.fromEntries(Object.entries($json.body).filter(([k, v]) => typeof v === 'string' && v.trim() !== '')) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        2560
      ],
      "id": "7e190a36-8705-4def-9049-fbf1c18fd51c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Webhook and Image Conversion\n**Webhook receives data from form and then convert the received image into baset64 text string so it can be passed to face++ and google vision**",
        "height": 580,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2656,
        2448
      ],
      "typeVersion": 1,
      "id": "55545e32-ba4a-499c-b385-72e964fbd628",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Google Vision \n**Image is passed to google vision and it extract all the traits from the image and then we use code node to convert the response into Natural Human Language.**",
        "height": 280,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        2880
      ],
      "typeVersion": 1,
      "id": "a4db79ca-3e1c-4bff-b0fb-8cf0cf1f576f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Face++ \n**Image is passed to Face++ and it extract all the traits from the image and then we use code node to convert the response into Natural Human Language.**",
        "height": 280,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        2320
      ],
      "typeVersion": 1,
      "id": "93382006-89b6-455e-ba8c-e26b8fbeba51",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a high-quality children's book cover illustration in the style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}.\n\nYou are a professional children's illustrator. Your goal is to create a grounded, realistic, and cinematic cover that features a child protagonist at the heart of the story. The environment should be imaginative but believable — avoid glowing, floating, or surreal fantasy effects unless explicitly described in the scene.\n\nThe scene is set around “{{ $json.message.content }}”, based on the world of {{ $item(0).$node[\"Webhook\"].json.body.universe }}.\nThe child’s name is {{ $item(0).$node[\"Webhook\"].json.body.child_name }}, a {{ $item(0).$node[\"Webhook\"].json.body.age }}-year-old with {{ $item(0).$node[\"Webhook\"].json.body.hair_type }} {{ $item(0).$node[\"Webhook\"].json.body.hair_color }} hair and {{ $item(0).$node[\"Webhook\"].json.body.eye_color }} eyes.\nTheir emotional tone is {{ $item(0).$node[\"Merge\"].json.attributes.emotion }}, and they are joined by their companion: {{ $item(0).$node[\"Webhook\"].json.body.companion }}.\n\nThe child should be central, clearly visible, and rendered with accurate facial structure and natural lighting. Clothes and posture must reflect real-world textures and proportions. Avoid stylizing the background too much — make it gentle and storybook-like, but grounded in realism.\n\nUse only the visual style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}:\nUse Ghibli-style visuals: Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Ghubli studio style minimally detailed faces. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for the character, companion and other objects (chair,box,etc). Overall quality of image should be good but the texture for character and zobjcets should be soft and not so sharp\n\nSkin tone: {{ $item(0).$node[\"Webhook\"].json.body.skin_tone_other ? $item(0).$node[\"Webhook\"].json.body.skin_tone_other : $item(0).$node[\"Webhook\"].json.body.skin_tone }}\n\n\nAvoid extreme sharpness, glowing lights, or magical particles unless they’re specifically required by the setting description.\n\nDo NOT include any text on the image.I repeat THERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE.",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2288,
        544
      ],
      "id": "819eb479-55f4-4215-9da8-6ac38218bdd1",
      "name": "Cover photo",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        1104
      ],
      "id": "c09c4f28-a46d-4214-af06-43c833941012",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an {{ $item(0).$node[\"Webhook\"].json.body.theme }} style image based on the story below. The style must be followed **exactly** and not resemble any other.\n\nScene:\n{{ $json.message.content }}\n\nStrictly follow the {{ $item(0).$node[\"Webhook\"].json.body.theme }} visual language:\nUse Ghibli-style visuals: Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Ghubli studio style minimally detailed faces. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for the character, companion and other objects (chair,box,etc). Overall quality of image should be good but the texture for character and zobjcets should be soft and not so sharp\n\nNote: Don't mix the styles. Use only the style that is asked by the user.\n\nThe kid has {{ $('Merge').item.json.hair_color }} {{ $('Merge').item.json.hair_type }} hair and {{ $('Merge').item.json.eye_color }} eyes.\nSkin tone: {{ $('Webhook').item.json.body.skin_tone_other || $('Webhook').item.json.body.skin_tone }}\nSkin tone: {{ $('Webhook').item.json.body.skin_tone_other || $('Webhook').item.json.body.skin_tone }}\n\n\nThe child must have **exactly the same face, hair, eye color, skin tone, and clothing** in every image. Their companion must appear clearly beside them. Match facial expression, body posture, outfit, and action with the described story.\n\nThe background and setting **must strictly match** the story. Do not alter or invent scenery.\n\n**Do NOT include any glowing, floating, magical, or surreal effects unless clearly stated.**  \n**Do NOT add any text to the image.**\n\n",
        "options": {
          "dalleQuality": "standard",
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2368,
        1056
      ],
      "id": "d735e0b4-7744-4955-9e95-9a781b09ec91",
      "name": "Generate an image",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional illustrator’s assistant for children’s picture books.\n\nimportant: the character count should not exceed 2000 characters including all the punctuations.\n\nYou are given a story scene and must describe only the visible, realistic elements needed to create a cartoon-style image. Your job is to generate a single, grounded, real-world or light-fantasy frame with clear child-friendly imagery — no surrealism or magical effects unless directly mentioned in the scene.\n\nNote: Don't mix the styles (disney,cartoon or ghibli). Use only style that is asked by the user.\n\nYou MUST visually reflect the specified style:\n- Ghibli:  Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Ghubli studio style minimally detailed faces. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for the character, companion and other objects (chair,box,etc). Overall quality of image should be good but the texture for character and zobjcets should be soft and not so sharp.\n\nFocus only on: child’s appearance, clothing, background setting, visible action, companion, and mood. Avoid generic language. Make it match the scene. No dialogue, no thoughts, and no text in image.\n\n\n Avoid words like “blast,” “ritual,” “possessed,” “haunted,” “curse,” “blood,” (all similar words or phrases that go against openAi's policy and safety system) etc. Because openAi consider it bad request so prevent using any word that goes against openAi standards and policies.",
              "role": "system"
            },
            {
              "content": "=\nScene:\n{{ $item(0).$node[\"Message a model\"].json.message.content }}\n\nThe child is a young {{ $item(0).$node[\"Webhook\"].json.body.gender }} with {{ $item(0).$node[\"Webhook\"].json.body.hair_type }} {{ $item(0).$node[\"Webhook\"].json.body.hair_color }} hair, {{ $item(0).$node[\"Webhook\"].json.body.eye_color }} eyes, and {{ $item(0).$node[\"Webhook\"].json.body.skin_tone_other || $item(0).$node[\"Webhook\"].json.body.skin_tone }} skin tone.  \nTheir companion is {{ $item(0).$node[\"Webhook\"].json.body.companion }}.\n\nThe kid has these additional things in the list: {{ $('Merge').item.json.DetectedObjects }} {{ $('Merge').item.json.VisualTraits }} (use only objects like hat, phone, etc. from this list, and not any traits from this list). Use them if they are in the script.\n\nchild reference url: {{ $('Edit Fields2').item.json.url }} \n\nDraw this in the **exact** style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}.\n\nUse Ghibli-style visuals: Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Ghubli studio style minimally detailed faces. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for the character, companion and other objects (chair,box,etc). Overall quality of image should be good but the texture for character and zobjcets should be soft and not so sharp.\n\nOnly include visible, child-safe things: environment, character pose, facial expression, outfit, mood, lighting. No magical or glowing effects unless described.  \nDo not include any written text.\nThe illustration must use a {{ $item(0).$node[\"Webhook\"].json.body.theme }}-inspired visual style.\n\nFacial structure reference landmarks: {{ $item(0).$node[\"summary of landmarks\"].json.landmark_summary }}.\nSkin tone: {{ $item(0).$node[\"Merge\"].json.attributes.skin }}\n\nDescribe the visual composition as a single, clear image based on the scene.keep it child-friendly.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1568,
        1056
      ],
      "id": "57b24b13-fd5c-4a12-9b3b-0d9eb72f9a6d",
      "name": "Image Description",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const landmarks = $('face++').first().json.faces[0].landmark;\n\nconst importantLandmarks = [\n  'contour_left6',\n  'contour_right1',\n  'nose_tip',\n  'nose_left_contour5',\n  'nose_right_contour5',\n  'right_eye_center',\n  'right_eye_top',\n  'right_eye_bottom',\n  'right_eye_left_corner',\n  'right_eye_right_corner',\n  'left_eye_center',\n  'left_eye_top',\n  'left_eye_bottom',\n  'left_eye_left_corner',\n  'left_eye_right_corner',\n  'mouth_left_corner',\n  'mouth_right_corner',\n  'mouth_upper_lip_top',\n  'mouth_lower_lip_bottom',\n  'left_eyebrow_lower_middle',\n  'right_eyebrow_lower_middle',\n\n  // Chin landmarks added below\n  'contour_chin',\n  'contour_chin2',\n  'contour_chin4'\n];\n\n// Convert each point to compact format like \"nose_tip:397,200\"\nconst summary = importantLandmarks\n  .filter(name => landmarks[name])\n  .map(name => {\n    const point = landmarks[name];\n    return `${name}:${Math.round(point.x)},${Math.round(point.y)}`;\n  })\n  .join(' | ');\n\nreturn [\n  {\n    json: {\n      landmark_summary: summary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        1104
      ],
      "id": "99081762-b60c-4862-a539-a34c4e8aa804",
      "name": "summary of landmarks"
    },
    {
      "parameters": {
        "jsCode": "return Array.from({ length: 16 }, (_, i) => ({\n  json: { scene: i + 1 }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1104
      ],
      "id": "edd11cc0-b837-43a0-843e-803037c2629e",
      "name": "Counter array for loop"
    },
    {
      "parameters": {
        "jsCode": "let allScenes = [];\n\nfor (const item of items) {\n  const scenes = item.json.scenes || [];\n  for (let i = 0; i < scenes.length; i++) {\n    const text = scenes[i].text || '';\n    allScenes.push(`**Scene ${i + 1}**\\n\\n${text}`);\n  }\n}\n\nreturn [{ json: { allScenes: allScenes.join('\\n\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        528
      ],
      "id": "7c12d3ab-71ad-49b5-a528-49dc47f71fd3",
      "name": "Combine the scenes",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a children’s book editor. Given a list of scenes from a story, write a friendly, short summary that captures the magic, journey, and emotional core of the story without repeating scenes.\n\nYou MUST visually reflect the specified style:\n- Ghibli:  Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Ghubli studio style minimally detailed faces. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for the character, companion and other objects (chair,box,etc). Overall quality of image should be good but the texture for character and zobjcets should be soft and not so sharp.\n\n\nTHERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE.",
              "role": "system"
            },
            {
              "content": "=Based on these 16 scenes, write a 4–5 sentence story summary for the front cover page of a children's book and don't forget to mention the wearables or gadgets if used in the story (like glasses,etc):\\n\\n{{ $('Combine the scenes').item.json.allScenes }}\n\nThe kid has {{ $item(0).$node[\"Merge\"].json.hair_color }} {{ $item(0).$node[\"Merge\"].json.hair_type }} hair and {{ $item(0).$node[\"Merge\"].json.eye_color }} eyes.\n\n\nTHERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1952,
        528
      ],
      "id": "afa96fa3-4e14-4711-b36a-c338875a5a95",
      "name": "Prompt for cover img",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a children’s book editor. Given a list of scenes from a story, write a friendly, short summary that captures the magic, journey, and emotional core of the story without repeating scenes.\n\nYou MUST visually reflect the specified style:\n- Ghibli:  Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for  objects (chair,box,etc). Overall quality of image should be good but the texture for character and objcets should be soft and not so sharp.",
              "role": "system"
            },
            {
              "content": "=Based on these 16 scenes, write a 4–5 sentence story summary for the back cover page of a children's book:\\n\\n{{ $('Combine the scenes').item.json.allScenes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3008,
        528
      ],
      "id": "2d7cb687-1a6e-4f83-9f2b-991d836b12e8",
      "name": "prompt for back cover",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a single-frame, wide horizontal children's book back cover illustration in {{ $item(0).$node[\"Webhook\"].json.body.theme }} style.\n\nYou are a visual designer creating imaginative yet grounded children’s book back covers. This image should reflect the world of the story through its setting, color palette, and symbolic details — without showing any characters.\n\nThe scene is inspired by the {{ $item(0).$node[\"Webhook\"].json.body.universe }} universe and the following summary:\n“{{ $('prompt for back cover').item.json.message.content }}”\n\nThe goal is to evoke a sense of wonder, safety, and curiosity while keeping the tone realistic, not surreal or fantastical. Use a grounded setting like a gentle forest path, a quiet hilltop, a cozy attic corner, or a ship deck — styled according to the story's universe.\n\nInclude symbolic props (e.g., the child’s {{ $item(0).$node[\"Webhook\"].json.body.companion }}, toys, tools, glowing bottle, parchment map, tree swing, floating leaf, telescope, etc.) that reflect important themes of the story. These should appear naturally placed and not floating or glowing.\n\nMatch the visual style:\nUse Ghibli-style visuals: Use soft watercolor brush strokes - Gentle pastel or earthy color palette. Ghubli studio style minimally detailed faces. Smooth, clean shapes with no sharp edges - Warm, diffused lighting (e.g., morning light, golden hour).Soft, non-detailed backgrounds (blurred textures, gentle landscapes, clean interiors)  .Avoid modern lighting effects or photorealism. Avoid sharp textures for the character, companion and other objects (chair,box,etc). Overall quality of image should be good but the texture for character and zobjcets should be soft and not so sharp\n\nUse soft lighting, atmospheric depth, and gentle gradients. Leave enough empty visual space (e.g., sky, blank wall, grassy patch) for summary text and publisher info to be added later.\n\nReminder: Do not include any character, face, or person. Do not create a double-page spread. This must be a single-frame horizontal back cover illustration.",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024",
          "style": "vivid"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3328,
        544
      ],
      "id": "4244cb10-4e67-4a23-8e54-c259228a6b61",
      "name": "back cover",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3392,
        1136
      ],
      "id": "ea8287f7-37e3-4dc8-b071-5d043114d69c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    scenes: items.map(item => ({\n      text: item.json.message.content,\n      image: item.json.url  // assuming the image URL is stored in item.json.url\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        528
      ],
      "id": "86030d8f-cf64-434a-a6cf-5c0f66ec96bd",
      "name": "Code3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful assistant who takes all the scenes from a book and summarize them in 5-8 lines without loosing key details. Note that we it has to be written at the end of the book. Write it in the ending note kind of matter (no need to write scene 1 scene xyz). the summary should be of collective scenes. No need to give any heading. just the summary.\n\nSummary should be in specified language.",
              "role": "system"
            },
            {
              "content": "=summarize all the scenes in 5-8 lines and don't loose any key information. {{ $json.allScenes }}\n\nsummary should be in: {{ $item(0).$node[\"Webhook\"].json.body.language }} language."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1488,
        528
      ],
      "id": "19a4a113-73ac-4ffa-921e-26825abf1f76",
      "name": "Summarize the book",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eab97dc8-9760-4c23-b71c-6e8fbc0e45aa",
              "name": "cover photo image",
              "value": "=\n{{ $('HTTP Request').item.json.secure_url }}",
              "type": "string"
            },
            {
              "id": "060c63fc-8574-45d4-a440-6c7df259ce71",
              "name": "body.dedication",
              "value": "={{ $item(0).$node[\"Webhook\"].json.body.dedication }}",
              "type": "string"
            },
            {
              "id": "d1db54eb-436a-4674-b28d-77c0f4a9aa9b",
              "name": "scenes+images",
              "value": "={{ $('Code3').item.json.scenes }}",
              "type": "array"
            },
            {
              "id": "17a6e511-0133-440c-b4e8-ef5c69546339",
              "name": "back cover photo",
              "value": "={{ $json.secure_url }}\n",
              "type": "string"
            },
            {
              "id": "526ef383-9d89-41b6-abb9-08706afcd3cf",
              "name": "summary of book",
              "value": "={{ $('Summarize the book').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "1e618d61-6c60-417b-a5d5-75979f3b66ed",
              "name": "book_title",
              "value": "={{ $item(0).$node[\"Webhook\"].json.body.book_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        528
      ],
      "id": "d192cdfa-4768-4f58-b7e1-abc9b552ac11",
      "name": "Final Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "=\n {{ $json.html }}",
        "advancedOptions": {
          "name": "storyBook",
          "custom": "200mm 200mm"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        4368,
        528
      ],
      "id": "c3dcebfb-6d60-4384-98c4-f6f63715a4a9",
      "name": "PDFco Api",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cover = $input.first().json['cover photo image'];\nconst dedication = $input.first().json.body.dedication;\nconst scenes = $input.first().json['scenes+images'];\nconst backCover = $input.first().json['back cover photo'];\nconst summary = $input.first().json['summary of book'];\nconst title = $input.first().json.book_title || \"Untitled Adventure\";\n\n// Build scene pages with text-wrapping layout\nconst scenePages = scenes.map((scene, index) => {\n  const chapterNumber = index + 1;\n  const isLast = index === scenes.length - 1;\n  \n  // Calculate dynamic font size based on text length\n  const textLength = scene.text.length;\n  let fontSize, dropCapSize, lineHeight;\n  \n  if (textLength < 200) {\n    // Very short text - larger font\n    fontSize = '20px';\n    dropCapSize = '5em';\n    lineHeight = '1.8';\n  } else if (textLength < 400) {\n    // Short text - medium-large font\n    fontSize = '20px';\n    dropCapSize = '4.5em';\n    lineHeight = '1.7';\n  } else if (textLength < 800) {\n    // Medium text - standard font\n    fontSize = '20px';\n    dropCapSize = '4em';\n    lineHeight = '1.6';\n  } else if (textLength < 1200) {\n    // Long text - smaller font\n    fontSize = '18px';\n    dropCapSize = '3.5em';\n    lineHeight = '1.5';\n  } else {\n    // Very long text - smallest font\n    fontSize = '16px';\n    dropCapSize = '3em';\n    lineHeight = '1.4';\n  }\n  \n  return `\n    <div class=\"page scene-page\">\n      <div class=\"page-header\">\n        <div class=\"chapter-number\">Chapter ${chapterNumber}</div>\n        <div class=\"page-num\">${index + 2}</div>\n      </div>\n      \n      <div class=\"content-wrapper\">\n        <div class=\"scene-content\">\n          <img src=\"${scene.image}\" class=\"scene-image\" />\n          <div class=\"scene-text\" style=\"font-size: ${fontSize}; line-height: ${lineHeight};\">\n            <span class=\"drop-cap\" style=\"font-size: ${dropCapSize};\">${scene.text.charAt(0)}</span>${scene.text.slice(1)}\n          </div>\n          ${isLast ? `<div class=\"the-end\">~ The End ~</div>` : ''}\n        </div>\n      </div>\n      \n      <div class=\"decorative-border\"></div>\n    </div>\n  `;\n}).join('\\n');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>${title}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Cinzel:wght@400;500;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page {\n      size: 200mm 200mm;\n      margin: 0;\n    }\n    \n    * {\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: 'Crimson Text', serif;\n      margin: 0;\n      padding: 0;\n      background: #faf8f5;\n      color: #2d2d2d;\n    }\n    \n    .page {\n      width: 200mm;\n      height: 200mm;\n      page-break-after: always;\n      position: relative;\n      background: linear-gradient(135deg, #faf8f5 0%, #f5f2ed 100%);\n      overflow: hidden;\n    }\n    \n    /* Cover Page Styling */\n    .cover {\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      text-align: center;\n      padding: 30mm;\n      background: linear-gradient(135deg, #f8f6f2 0%, #ede8e0 50%, #f8f6f2 100%);\n      color: #2d2d2d;\n      position: relative;\n    }\n    \n    .cover::before {\n      content: '';\n      position: absolute;\n      top: 15mm;\n      left: 15mm;\n      right: 15mm;\n      bottom: 15mm;\n      border: 3px solid #8b4513;\n      border-radius: 8px;\n    }\n    \n    .cover-title {\n      font-family: 'Cinzel', serif;\n      font-size: 32px;\n      font-weight: 600;\n      margin-bottom: 20mm;\n      text-shadow: 1px 1px 2px rgba(0,0,0,0.1);\n      z-index: 2;\n      position: relative;\n      color: #8b4513;\n    }\n    \n    .cover-image {\n      max-width: 90%;\n      max-height: 400px;\n      object-fit: contain;\n      border-radius: 12px;\n      box-shadow: 0 8px 25px rgba(0,0,0,0.2);\n      margin-bottom: 15mm;\n      z-index: 2;\n      position: relative;\n    }\n    \n    .dedication {\n      font-size: 16px;\n      font-style: italic;\n      line-height: 1.4;\n      z-index: 2;\n      position: relative;\n      opacity: 0.8;\n      color: #555;\n    }\n    \n    /* Scene Page Styling */\n    .scene-page {\n      padding: 15mm;\n    }\n    \n    .page-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10mm;\n      padding-bottom: 5mm;\n      border-bottom: 2px solid #d4af37;\n    }\n    \n    .chapter-number {\n      font-family: 'Cinzel', serif;\n      font-size: 22px;\n      font-weight: 500;\n      color: #8b4513;\n    }\n    \n    .page-num {\n      font-family: 'Libre Baskerville', serif;\n      font-size: 14px;\n      color: #666;\n    }\n    \n    .content-wrapper {\n      min-height: calc(200mm - 60mm);\n      padding: 5mm 0;\n    }\n    \n    .scene-content {\n      position: relative;\n      height: 100%;\n    }\n    \n    .scene-image {\n      float: left;\n      width: 70mm;\n      max-height: 70mm;\n      object-fit: contain;\n      border-radius: 8px;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.15);\n      margin: 10px 15px 15px 0;\n      shape-outside: margin-box;\n    }\n    \n    .scene-text {\n      text-align: justify;\n      color: #333;\n      hyphens: auto;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n    }\n    \n    /* Drop cap styling for first letter */\n    .drop-cap {\n      float: left;\n      font-family: 'Cinzel', serif;\n      line-height: 0.8;\n      padding-right: 8px;\n      padding-top: 4px;\n      color: #8b4513;\n      font-weight: 600;\n    }\n    \n    .the-end {\n      clear: both;\n      margin-top: 20mm;\n      font-family: 'Cinzel', serif;\n      font-size: 18px;\n      text-align: center;\n      color: #8b4513;\n      font-weight: 500;\n    }\n    \n    .decorative-border {\n      position: absolute;\n      top: 8mm;\n      left: 8mm;\n      right: 8mm;\n      bottom: 8mm;\n      border: 1px solid #e8dcc0;\n      border-radius: 4px;\n      pointer-events: none;\n    }\n    \n    /* Back Cover Styling */\n    .back-cover {\n      display: flex;\n      flex-direction: column;\n      padding: 20mm;\n      background: linear-gradient(135deg, #f8f6f2 0%, #ede8e0 50%, #f8f6f2 100%);\n      color: #2d2d2d;\n      position: relative;\n    }\n    \n    .back-cover::before {\n      content: '';\n      position: absolute;\n      top: 15mm;\n      left: 15mm;\n      right: 15mm;\n      bottom: 15mm;\n      border: 2px solid #8b4513;\n      border-radius: 8px;\n    }\n    \n    .back-cover-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10mm;\n      padding-bottom: 5mm;\n      border-bottom: 2px solid #d4af37;\n      z-index: 2;\n      position: relative;\n    }\n    \n    .summary-title {\n      font-family: 'Cinzel', serif;\n      font-size: 22px;\n      font-weight: 500;\n      color: #8b4513;\n    }\n    \n    .back-image {\n      width: 100%;\n      max-height: 80mm;\n      object-fit: contain;\n      border-radius: 8px;\n      margin-bottom: 15mm;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.2);\n      z-index: 2;\n      position: relative;\n    }\n    \n    .summary {\n      text-align: justify;\n      z-index: 2;\n      position: relative;\n      color: #333;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n      flex: 1;\n    }\n    \n    .back-page-num {\n      position: absolute;\n      bottom: 10mm;\n      right: 20mm;\n      font-size: 12px;\n      color: #666;\n      z-index: 2;\n    }\n  </style>\n</head>\n<body>\n  <!-- Cover Page -->\n  <div class=\"page cover\">\n    <div class=\"cover-title\">${title}</div>\n    <img src=\"${cover}\" class=\"cover-image\" />\n    <div class=\"dedication\">${dedication}</div>\n  </div>\n  \n  <!-- Scene Pages -->\n  ${scenePages}\n  \n  <!-- Back Cover Page -->\n  <div class=\"page back-cover\">\n    <div class=\"back-cover-header\">\n      <div class=\"summary-title\">Summary</div>\n      <div class=\"page-num\">${scenes.length + 2}</div>\n    </div>\n    <img src=\"${backCover}\" class=\"back-image\" />\n    <div class=\"summary\" style=\"font-size: ${summary.length < 300 ? '17px' : summary.length < 600 ? '16px' : '15px'}; line-height: ${summary.length < 300 ? '1.6' : summary.length < 600 ? '1.5' : '1.4'};\">${summary}</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        528
      ],
      "id": "4017f60e-004b-4494-bdcc-a169bb96acc7",
      "name": "Code5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/value_here/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        1040
      ],
      "id": "9034f518-d125-4f0c-9201-529324ec847b",
      "name": "HTTP Request2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03e42fe8-46ff-4c2d-b942-a659f769cee3",
              "name": "url",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        1040
      ],
      "id": "1a7f95e1-3086-4d39-ae91-622ca14dba2c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/value_here/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        528
      ],
      "id": "6573a784-e08b-40e0-ab9b-328bbf799c36",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/value_here/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3552,
        528
      ],
      "id": "76121316-96a0-41e0-8e76-7e7ee470e72a",
      "name": "HTTP Request3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Script + Scene\n**Generetaes script scene, convert the scene into visual description for Dall-e-3 to create effective images.**",
        "height": 460,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        960
      ],
      "typeVersion": 1,
      "id": "90cf25f8-9762-4d0c-9c34-95e9cd606b4b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Image generation + URL conversion\n**Generetaes image according to the scene and send it to cloudinary to create its URL and them we merge the scene+url**",
        "height": 460,
        "width": 1340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        960
      ],
      "typeVersion": 1,
      "id": "61a6e579-b8a1-463e-9459-bd65982d84f3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Create Array + Combine scenes\n**First code node converts the scene+urls into an array so we pdfco. can iterate through it and th second code node combines all the scenes to make the summary of the book.**",
        "height": 380,
        "width": 840,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        368
      ],
      "typeVersion": 1,
      "id": "c2c105e4-cf67-4d34-b5fd-69164791dc50",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Front Page Cover Photo\n**Generetaes visual descriptions for cover photo and then generates cover photo and use Cloudinary to get URL.**\n",
        "height": 460,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        336
      ],
      "typeVersion": 1,
      "id": "53c0174f-111f-427b-99a0-67c090115011",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Last Page Cover Photo\n**Generetaes visual descriptions for cover photo and then generates cover photo and use Cloudinary to get URL.**\n",
        "height": 460,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2912,
        336
      ],
      "typeVersion": 1,
      "id": "f8850727-5b9e-4c2d-bd91-44f70c465243",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Final PDF\n**Use all the inputs and create html code and send it to PDFco. which create PDF and send back the url and we send ir back to the webhook.**\n",
        "height": 460,
        "width": 920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3920,
        336
      ],
      "typeVersion": 1,
      "id": "a97ea608-009f-459a-abd3-c4cc8dc0e028",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Landmarks summary + Array Generation\n**Generetaes summary for lanmarks because it is too long to be processed RAW. And we create an array of 16 items for the loop.**\n",
        "height": 340,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        960
      ],
      "typeVersion": 1,
      "id": "0be07a79-fb57-47fa-a3f8-1198a95d1495",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent assistant trained to extract structured story data. Given a story that contains multiple scenes, each titled and numbered (e.g., \"Scene 1: ...\", \"Scene 2: ...\"), your task is to extract the specific scene number requested by the user, along with its corresponding title and scene content.\nOnly return the exact scene requested. Do not return or mention any other scene numbers or content.",
              "role": "system"
            },
            {
              "content": "=Now extract only Scene {{ $json.scene }} , including its title and content. Do not include other sccenes.\nFormat should be:\nscene content only, no title, no scene number no nothing. just the content without any description and additional text.\n(It should not be like scene number: title: scene: content)\nThe story: {{ $('Script_Ghibli').item.json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1152,
        1120
      ],
      "id": "03c4baac-3705-438e-83f1-b231eac4aa9f",
      "name": "Message a model",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/xyz/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2368,
        2768
      ],
      "id": "b5ab860c-6f67-4414-8562-22b53fe8f491",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03e42fe8-46ff-4c2d-b942-a659f769cee3",
              "name": "url",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        2768
      ],
      "id": "433c9762-b06b-414c-ad17-a1212ca36453",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## GHIBLI",
        "width": 4940,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        16
      ],
      "typeVersion": 1,
      "id": "0df0f3e3-18a9-4331-8bba-32067755a4f6",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "## Disney\n",
        "width": 4940,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        1680
      ],
      "typeVersion": 1,
      "id": "bdb5f2fe-a1de-4cff-8939-0dd8ea6beb60",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Here is the link:\nPlease copy the link and paste it in your browser:\n {{ $json.url }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4512,
        2080
      ],
      "id": "08d472d3-b0e1-4557-8a7b-afc67398bcce",
      "name": "Respond to Webhook1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a high-quality children's book cover illustration in the style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}.\n\nYou are a professional children's illustrator. Your goal is to create a grounded, realistic, and cinematic cover that features a child protagonist at the heart of the story. The environment should be imaginative but believable — avoid glowing, floating, or surreal fantasy effects unless explicitly described in the scene.\n\nThe scene is set around “{{ $json.message.content }}”, based on the world of {{ $item(0).$node[\"Webhook\"].json.body.universe }}.\nThe child’s name is {{ $item(0).$node[\"Webhook\"].json.body.child_name }}, a {{ $item(0).$node[\"Webhook\"].json.body.age }}-year-old with {{ $item(0).$node[\"Webhook\"].json.body.hair_type }} {{ $item(0).$node[\"Webhook\"].json.body.hair_color }} hair and {{ $item(0).$node[\"Webhook\"].json.body.eye_color }} eyes.\nTheir emotional tone is {{ $item(0).$node[\"Merge\"].json.attributes.emotion }}, and they are joined by their companion: {{ $item(0).$node[\"Webhook\"].json.body.companion }}.\n\nThe child should be central, clearly visible, and rendered with accurate facial structure and natural lighting. Clothes and posture must reflect real-world textures and proportions. Avoid stylizing the background too much — make it gentle and storybook-like, but grounded in realism.\n\nUse only the visual style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}:\nuse Disney style: rich vibrant colors, cinematic lighting, polished characters, emotional facial expressions, and dynamic action. Backgrounds should be detailed but still child-friendly and not overly realistic\n\nSkin tone: {{ $item(0).$node[\"Webhook\"].json.body.skin_tone_other ? $item(0).$node[\"Webhook\"].json.body.skin_tone_other : $item(0).$node[\"Webhook\"].json.body.skin_tone }}\n\n\nAvoid extreme sharpness, glowing lights, or magical particles unless they’re specifically required by the setting description.\n\nDo NOT include any text on the image.I repeat THERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE.",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2160,
        2096
      ],
      "id": "00976b0e-a501-4c39-89a8-b69d20c76a0c",
      "name": "Cover photo1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        2656
      ],
      "id": "d5f67ff3-dc2e-4393-b8e9-7cbef49437fb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an {{ $item(0).$node[\"Webhook\"].json.body.theme }} style image based on the story below. The style must be followed **exactly** and not resemble any other.\n\nScene:\n{{ $json.message.content }}\n\nStrictly follow the {{ $item(0).$node[\"Webhook\"].json.body.theme }} visual language:\nUse Disney-style visuals: rich vibrant colors, cinematic lighting, polished characters, emotional facial expressions, and dynamic action. Backgrounds should be detailed but still child-friendly and not overly realistic\n\nNote: Don't mix the styles. Use only the style that is asked by the user.\n\nThe kid has {{ $('Merge').item.json.hair_color }} {{ $('Merge').item.json.hair_type }} hair and {{ $('Merge').item.json.eye_color }} eyes.\nSkin tone: {{ $('Webhook').item.json.body.skin_tone_other || $('Webhook').item.json.body.skin_tone }}\nSkin tone: {{ $('Webhook').item.json.body.skin_tone_other || $('Webhook').item.json.body.skin_tone }}\n\n\nThe child must have **exactly the same face, hair, eye color, skin tone, and clothing** in every image. Their companion must appear clearly beside them. Match facial expression, body posture, outfit, and action with the described story.\n\nThe background and setting **must strictly match** the story. Do not alter or invent scenery.\n\n**Do NOT include any glowing, floating, magical, or surreal effects unless clearly stated.**  \n**Do NOT add any text to the image.**\n\n",
        "options": {
          "dalleQuality": "standard",
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2272,
        2576
      ],
      "id": "201d6161-0df2-4b61-9978-fa1e1603edd8",
      "name": "Generate an image1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional illustrator’s assistant for children’s picture books.\n\nimportant: the character count should not exceed 2000 characters including all the punctuations.\n\nYou are given a story scene and must describe only the visible, realistic elements needed to create a cartoon-style image. Your job is to generate a single, grounded, real-world or light-fantasy frame with clear child-friendly imagery — no surrealism or magical effects unless directly mentioned in the scene.\n\nNote: Don't mix the styles (disney,cartoon or ghibli). Use only style that is asked by the user.\n\nYou MUST visually reflect the specified style:\n- Disney: bold colors, clean lines, expressive faces, vivid staging\n\nFocus only on: child’s appearance, clothing, background setting, visible action, companion, and mood. Avoid generic language. Make it match the scene. No dialogue, no thoughts, and no text in image.\n\n\n Avoid words like “blast,” “ritual,” “possessed,” “haunted,” “curse,” “blood,” (all similar words or phrases that go against openAi's policy and safety system) etc. Because openAi consider it bad request so prevent using any word that goes against openAi standards and policies.",
              "role": "system"
            },
            {
              "content": "=\nScene:\n{{ $item(0).$node[\"Message a model1\"].json.message.content }}\n\nThe child is a young {{ $item(0).$node[\"Webhook\"].json.body.gender }} with {{ $item(0).$node[\"Webhook\"].json.body.hair_type }} {{ $item(0).$node[\"Webhook\"].json.body.hair_color }} hair, {{ $item(0).$node[\"Webhook\"].json.body.eye_color }} eyes, and {{ $item(0).$node[\"Webhook\"].json.body.skin_tone_other || $item(0).$node[\"Webhook\"].json.body.skin_tone }} skin tone.  \nTheir companion is {{ $item(0).$node[\"Webhook\"].json.body.companion }}.\n\nThe kid has these additional things in the list: {{ $('Merge').item.json.DetectedObjects }} {{ $('Merge').item.json.VisualTraits }} (use only objects like hat, phone, etc. from this list, and not any traits from this list). Use them if they are in the script.\n\nchild reference url: {{ $('Edit Fields2').item.json.url }} \n\n\nDraw this in the **exact** style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}.\n\nUse Disney-style visuals: rich vibrant colors, cinematic lighting, polished characters, emotional facial expressions, and dynamic action. Backgrounds should be detailed but still child-friendly and not overly realistic\n\nOnly include visible, child-safe things: environment, character pose, facial expression, outfit, mood, lighting. No magical or glowing effects unless described.  \nDo not include any written text.\nThe illustration must use a {{ $item(0).$node[\"Webhook\"].json.body.theme }}-inspired visual style.\n\nFacial structure reference landmarks: {{ $item(0).$node[\"summary of landmarks1\"].json.landmark_summary }}.\nSkin tone: {{ $item(0).$node[\"Merge\"].json.attributes.skin }}\n\nDescribe the visual composition as a single, clear image based on the scene.keep it child-friendly.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1488,
        2576
      ],
      "id": "3234cdf6-c501-4a49-9cdc-2938c653ead2",
      "name": "Image Description1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const landmarks = $('face++').first().json.faces[0].landmark;\n\nconst importantLandmarks = [\n  'contour_left6',\n  'contour_right1',\n  'nose_tip',\n  'nose_left_contour5',\n  'nose_right_contour5',\n  'right_eye_center',\n  'right_eye_top',\n  'right_eye_bottom',\n  'right_eye_left_corner',\n  'right_eye_right_corner',\n  'left_eye_center',\n  'left_eye_top',\n  'left_eye_bottom',\n  'left_eye_left_corner',\n  'left_eye_right_corner',\n  'mouth_left_corner',\n  'mouth_right_corner',\n  'mouth_upper_lip_top',\n  'mouth_lower_lip_bottom',\n  'left_eyebrow_lower_middle',\n  'right_eyebrow_lower_middle',\n\n  // Chin landmarks added below\n  'contour_chin',\n  'contour_chin2',\n  'contour_chin4'\n];\n\n// Convert each point to compact format like \"nose_tip:397,200\"\nconst summary = importantLandmarks\n  .filter(name => landmarks[name])\n  .map(name => {\n    const point = landmarks[name];\n    return `${name}:${Math.round(point.x)},${Math.round(point.y)}`;\n  })\n  .join(' | ');\n\nreturn [\n  {\n    json: {\n      landmark_summary: summary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        2656
      ],
      "id": "40a0a03b-4e03-454a-ab54-e659905f4b42",
      "name": "summary of landmarks1"
    },
    {
      "parameters": {
        "jsCode": "return Array.from({ length: 16 }, (_, i) => ({\n  json: { scene: i + 1 }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        2656
      ],
      "id": "53ff0137-feb0-4e9b-b788-5e7783c95fe7",
      "name": "Counter array for loop1"
    },
    {
      "parameters": {
        "jsCode": "let allScenes = [];\n\nfor (const item of items) {\n  const scenes = item.json.scenes || [];\n  for (let i = 0; i < scenes.length; i++) {\n    const text = scenes[i].text || '';\n    allScenes.push(`**Scene ${i + 1}**\\n\\n${text}`);\n  }\n}\n\nreturn [{ json: { allScenes: allScenes.join('\\n\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        2080
      ],
      "id": "2ba072a1-080f-45d4-ab20-a67e9b8e1285",
      "name": "Combine the scenes1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a children’s book editor. Given a list of scenes from a story, write a friendly, short summary that captures the magic, journey, and emotional core of the story without repeating scenes.\n\nYou MUST visually reflect the specified style:\n- Disney: rich vibrant colors, cinematic lighting, polished characters, emotional facial expressions, and dynamic action. Backgrounds should be detailed but still child-friendly and not overly realistic\n\n\nTHERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE.",
              "role": "system"
            },
            {
              "content": "=Based on these 16 scenes, write a 4–5 sentence story summary for the front cover page of a children's book and don't forget to mention the wearables or gadgets if used in the story (like glasses,etc):\\n\\n{{ $('Combine the scenes1').item.json.allScenes }}\n\nThe kid has {{ $item(0).$node[\"Merge\"].json.hair_color }} {{ $item(0).$node[\"Merge\"].json.hair_type }} hair and {{ $item(0).$node[\"Merge\"].json.eye_color }} eyes.\n\nTHERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1808,
        2080
      ],
      "id": "5bdffeb1-b569-4f27-8258-4395ae05d1ad",
      "name": "Prompt for cover img1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a children’s book editor. Given a list of scenes from a story, write a friendly, short summary that captures the magic, journey, and emotional core of the story without repeating scenes.\n\nYou MUST visually reflect the specified style:\n- Disney: rich vibrant colors, cinematic lighting, polished characters, emotional facial expressions, and dynamic action. Backgrounds should be detailed but still child-friendly and not overly realistic",
              "role": "system"
            },
            {
              "content": "=Based on these 16 scenes, write a 4–5 sentence story summary for the back cover page of a children's book:\\n\\n{{ $('Combine the scenes1').item.json.allScenes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2864,
        2080
      ],
      "id": "8ec06476-4003-4544-9fad-29b1ebb37459",
      "name": "prompt for back cover1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a single-frame, wide horizontal children's book back cover illustration in {{ $item(0).$node[\"Webhook\"].json.body.theme }} style.\n\nYou are a visual designer creating imaginative yet grounded children’s book back covers. This image should reflect the world of the story through its setting, color palette, and symbolic details — without showing any characters.\n\nThe scene is inspired by the {{ $item(0).$node[\"Webhook\"].json.body.universe }} universe and the following summary:\n“{{ $('prompt for back cover1').item.json.message.content }}”\n\nThe goal is to evoke a sense of wonder, safety, and curiosity while keeping the tone realistic, not surreal or fantastical. Use a grounded setting like a gentle forest path, a quiet hilltop, a cozy attic corner, or a ship deck — styled according to the story's universe.\n\nInclude symbolic props (e.g., the child’s {{ $item(0).$node[\"Webhook\"].json.body.companion }}, toys, tools, glowing bottle, parchment map, tree swing, floating leaf, telescope, etc.) that reflect important themes of the story. These should appear naturally placed and not floating or glowing.\n\nMatch the visual style:\nUse Disney-style visuals: rich vibrant colors, cinematic lighting, and dynamic action. Backgrounds should be detailed but still child-friendly and not overly realistic.\n\nUse soft lighting, atmospheric depth, and gentle gradients. Leave enough empty visual space (e.g., sky, blank wall, grassy patch) for summary text and publisher info to be added later.\n\nReminder: Do not include any character, face, or person. Do not create a double-page spread. This must be a single-frame horizontal back cover illustration.",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024",
          "style": "vivid"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3184,
        2096
      ],
      "id": "09367cb6-b1c5-4eac-af5a-a7c63b6df872",
      "name": "back cover1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3264,
        2704
      ],
      "id": "1245c39a-6bb4-45ab-90d2-60496c499093",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    scenes: items.map(item => ({\n      text: item.json.message.content,\n      image: item.json.url  // assuming the image URL is stored in item.json.url\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        2080
      ],
      "id": "f3207e9a-2097-4454-b131-a4fe107b59b4",
      "name": "Code4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful assistant who takes all the scenes from a book and summarize them in 5-8 lines without loosing key details. Note that we it has to be written at the end of the book. Write it in the ending note kind of matter (no need to write scene 1 scene xyz). the summary should be of collective scenes. No need to give any heading. just the summary.\n\nSummary should be in specified language.",
              "role": "system"
            },
            {
              "content": "=summarize all the scenes in 5-8 lines and don't loose any key information. {{ $json.allScenes }}\n\nsummary should be in: {{ $item(0).$node[\"Webhook\"].json.body.language }} language."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1344,
        2080
      ],
      "id": "035f13cd-0412-4490-860b-b8bbd377f409",
      "name": "Summarize the book1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eab97dc8-9760-4c23-b71c-6e8fbc0e45aa",
              "name": "cover photo image",
              "value": "=\n{{ $('HTTP Request1').item.json.secure_url }}",
              "type": "string"
            },
            {
              "id": "060c63fc-8574-45d4-a440-6c7df259ce71",
              "name": "body.dedication",
              "value": "={{ $item(0).$node[\"Webhook\"].json.body.dedication }}",
              "type": "string"
            },
            {
              "id": "d1db54eb-436a-4674-b28d-77c0f4a9aa9b",
              "name": "scenes+images",
              "value": "={{ $('Code4').item.json.scenes }}",
              "type": "array"
            },
            {
              "id": "17a6e511-0133-440c-b4e8-ef5c69546339",
              "name": "back cover photo",
              "value": "={{ $json.secure_url }}\n",
              "type": "string"
            },
            {
              "id": "526ef383-9d89-41b6-abb9-08706afcd3cf",
              "name": "summary of book",
              "value": "={{ $('Summarize the book1').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "1e618d61-6c60-417b-a5d5-75979f3b66ed",
              "name": "book_title",
              "value": "={{ $item(0).$node[\"Webhook\"].json.body.book_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        2080
      ],
      "id": "10f6d9dd-d72f-4bb4-9b30-caf753f2e72e",
      "name": "Final Data1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "=\n {{ $json.html }}",
        "advancedOptions": {
          "name": "storyBook",
          "custom": "200mm 200mm"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        4224,
        2080
      ],
      "id": "113f3210-8d8d-4889-bf81-31b234c1fb37",
      "name": "PDFco Api1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cover = $input.first().json['cover photo image'];\nconst dedication = $input.first().json.body.dedication;\nconst scenes = $input.first().json['scenes+images'];\nconst backCover = $input.first().json['back cover photo'];\nconst summary = $input.first().json['summary of book'];\nconst title = $input.first().json.book_title || \"Untitled Adventure\";\n\n// Build scene pages with text-wrapping layout\nconst scenePages = scenes.map((scene, index) => {\n  const chapterNumber = index + 1;\n  const isLast = index === scenes.length - 1;\n  \n  // Calculate dynamic font size based on text length\n  const textLength = scene.text.length;\n  let fontSize, dropCapSize, lineHeight;\n  \n  if (textLength < 200) {\n    // Very short text - larger font\n    fontSize = '20px';\n    dropCapSize = '5em';\n    lineHeight = '1.8';\n  } else if (textLength < 400) {\n    // Short text - medium-large font\n    fontSize = '20px';\n    dropCapSize = '4.5em';\n    lineHeight = '1.7';\n  } else if (textLength < 800) {\n    // Medium text - standard font\n    fontSize = '20px';\n    dropCapSize = '4em';\n    lineHeight = '1.6';\n  } else if (textLength < 1200) {\n    // Long text - smaller font\n    fontSize = '18px';\n    dropCapSize = '3.5em';\n    lineHeight = '1.5';\n  } else {\n    // Very long text - smallest font\n    fontSize = '16px';\n    dropCapSize = '3em';\n    lineHeight = '1.4';\n  }\n  \n  return `\n    <div class=\"page scene-page\">\n      <div class=\"page-header\">\n        <div class=\"chapter-number\">Chapter ${chapterNumber}</div>\n        <div class=\"page-num\">${index + 2}</div>\n      </div>\n      \n      <div class=\"content-wrapper\">\n        <div class=\"scene-content\">\n          <img src=\"${scene.image}\" class=\"scene-image\" />\n          <div class=\"scene-text\" style=\"font-size: ${fontSize}; line-height: ${lineHeight};\">\n            <span class=\"drop-cap\" style=\"font-size: ${dropCapSize};\">${scene.text.charAt(0)}</span>${scene.text.slice(1)}\n          </div>\n          ${isLast ? `<div class=\"the-end\">~ The End ~</div>` : ''}\n        </div>\n      </div>\n      \n      <div class=\"decorative-border\"></div>\n    </div>\n  `;\n}).join('\\n');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>${title}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Cinzel:wght@400;500;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page {\n      size: 200mm 200mm;\n      margin: 0;\n    }\n    \n    * {\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: 'Crimson Text', serif;\n      margin: 0;\n      padding: 0;\n      background: #faf8f5;\n      color: #2d2d2d;\n    }\n    \n    .page {\n      width: 200mm;\n      height: 200mm;\n      page-break-after: always;\n      position: relative;\n      background: linear-gradient(135deg, #faf8f5 0%, #f5f2ed 100%);\n      overflow: hidden;\n    }\n    \n    /* Cover Page Styling */\n    .cover {\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      text-align: center;\n      padding: 30mm;\n      background: linear-gradient(135deg, #f8f6f2 0%, #ede8e0 50%, #f8f6f2 100%);\n      color: #2d2d2d;\n      position: relative;\n    }\n    \n    .cover::before {\n      content: '';\n      position: absolute;\n      top: 15mm;\n      left: 15mm;\n      right: 15mm;\n      bottom: 15mm;\n      border: 3px solid #8b4513;\n      border-radius: 8px;\n    }\n    \n    .cover-title {\n      font-family: 'Cinzel', serif;\n      font-size: 32px;\n      font-weight: 600;\n      margin-bottom: 20mm;\n      text-shadow: 1px 1px 2px rgba(0,0,0,0.1);\n      z-index: 2;\n      position: relative;\n      color: #8b4513;\n    }\n    \n    .cover-image {\n      max-width: 90%;\n      max-height: 400px;\n      object-fit: contain;\n      border-radius: 12px;\n      box-shadow: 0 8px 25px rgba(0,0,0,0.2);\n      margin-bottom: 15mm;\n      z-index: 2;\n      position: relative;\n    }\n    \n    .dedication {\n      font-size: 16px;\n      font-style: italic;\n      line-height: 1.4;\n      z-index: 2;\n      position: relative;\n      opacity: 0.8;\n      color: #555;\n    }\n    \n    /* Scene Page Styling */\n    .scene-page {\n      padding: 15mm;\n    }\n    \n    .page-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10mm;\n      padding-bottom: 5mm;\n      border-bottom: 2px solid #d4af37;\n    }\n    \n    .chapter-number {\n      font-family: 'Cinzel', serif;\n      font-size: 22px;\n      font-weight: 500;\n      color: #8b4513;\n    }\n    \n    .page-num {\n      font-family: 'Libre Baskerville', serif;\n      font-size: 14px;\n      color: #666;\n    }\n    \n    .content-wrapper {\n      min-height: calc(200mm - 60mm);\n      padding: 5mm 0;\n    }\n    \n    .scene-content {\n      position: relative;\n      height: 100%;\n    }\n    \n    .scene-image {\n      float: left;\n      width: 70mm;\n      max-height: 70mm;\n      object-fit: contain;\n      border-radius: 8px;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.15);\n      margin: 10px 15px 15px 0;\n      shape-outside: margin-box;\n    }\n    \n    .scene-text {\n      text-align: justify;\n      color: #333;\n      hyphens: auto;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n    }\n    \n    /* Drop cap styling for first letter */\n    .drop-cap {\n      float: left;\n      font-family: 'Cinzel', serif;\n      line-height: 0.8;\n      padding-right: 8px;\n      padding-top: 4px;\n      color: #8b4513;\n      font-weight: 600;\n    }\n    \n    .the-end {\n      clear: both;\n      margin-top: 20mm;\n      font-family: 'Cinzel', serif;\n      font-size: 18px;\n      text-align: center;\n      color: #8b4513;\n      font-weight: 500;\n    }\n    \n    .decorative-border {\n      position: absolute;\n      top: 8mm;\n      left: 8mm;\n      right: 8mm;\n      bottom: 8mm;\n      border: 1px solid #e8dcc0;\n      border-radius: 4px;\n      pointer-events: none;\n    }\n    \n    /* Back Cover Styling */\n    .back-cover {\n      display: flex;\n      flex-direction: column;\n      padding: 20mm;\n      background: linear-gradient(135deg, #f8f6f2 0%, #ede8e0 50%, #f8f6f2 100%);\n      color: #2d2d2d;\n      position: relative;\n    }\n    \n    .back-cover::before {\n      content: '';\n      position: absolute;\n      top: 15mm;\n      left: 15mm;\n      right: 15mm;\n      bottom: 15mm;\n      border: 2px solid #8b4513;\n      border-radius: 8px;\n    }\n    \n    .back-cover-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10mm;\n      padding-bottom: 5mm;\n      border-bottom: 2px solid #d4af37;\n      z-index: 2;\n      position: relative;\n    }\n    \n    .summary-title {\n      font-family: 'Cinzel', serif;\n      font-size: 22px;\n      font-weight: 500;\n      color: #8b4513;\n    }\n    \n    .back-image {\n      width: 100%;\n      max-height: 80mm;\n      object-fit: contain;\n      border-radius: 8px;\n      margin-bottom: 15mm;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.2);\n      z-index: 2;\n      position: relative;\n    }\n    \n    .summary {\n      text-align: justify;\n      z-index: 2;\n      position: relative;\n      color: #333;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n      flex: 1;\n    }\n    \n    .back-page-num {\n      position: absolute;\n      bottom: 10mm;\n      right: 20mm;\n      font-size: 12px;\n      color: #666;\n      z-index: 2;\n    }\n  </style>\n</head>\n<body>\n  <!-- Cover Page -->\n  <div class=\"page cover\">\n    <div class=\"cover-title\">${title}</div>\n    <img src=\"${cover}\" class=\"cover-image\" />\n    <div class=\"dedication\">${dedication}</div>\n  </div>\n  \n  <!-- Scene Pages -->\n  ${scenePages}\n  \n  <!-- Back Cover Page -->\n  <div class=\"page back-cover\">\n    <div class=\"back-cover-header\">\n      <div class=\"summary-title\">Summary</div>\n      <div class=\"page-num\">${scenes.length + 2}</div>\n    </div>\n    <img src=\"${backCover}\" class=\"back-image\" />\n    <div class=\"summary\" style=\"font-size: ${summary.length < 300 ? '17px' : summary.length < 600 ? '16px' : '15px'}; line-height: ${summary.length < 300 ? '1.6' : summary.length < 600 ? '1.5' : '1.4'};\">${summary}</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4032,
        2080
      ],
      "id": "349bd71d-c201-4045-b4be-92d81fddfa57",
      "name": "Code6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/xyz/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        2560
      ],
      "id": "6ec7d2f7-5e5b-4627-aab7-4f8442c89a5a",
      "name": "HTTP Request5",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03e42fe8-46ff-4c2d-b942-a659f769cee3",
              "name": "url",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        2560
      ],
      "id": "6c188c02-37d4-4d21-b48c-f3707da57e57",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/xyz/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3408,
        2080
      ],
      "id": "8fc3b6c4-202c-4f2a-9aff-dcb92c655802",
      "name": "HTTP Request6",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Script + Scene\n**Generetaes script scene, convert the scene into visual description for Dall-e-3 to create effective images.**",
        "height": 460,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        2480
      ],
      "typeVersion": 1,
      "id": "e5b1b826-c5d7-4ad9-aadf-bb6cf1a652fa",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Image generation + URL conversion\n**Generetaes image according to the scene and send it to cloudinary to create its URL and them we merge the scene+url**",
        "height": 460,
        "width": 1340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        2480
      ],
      "typeVersion": 1,
      "id": "aa3f92db-9d22-41df-b1ce-e8406d3fd964",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Create Array + Combine scenes\n**First code node converts the scene+urls into an array so we pdfco. can iterate through it and th second code node combines all the scenes to make the summary of the book.**",
        "height": 380,
        "width": 840,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        1920
      ],
      "typeVersion": 1,
      "id": "ca0c6cc5-1aee-4ebd-9381-79082fb971be",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Front Page Cover Photo\n**Generetaes visual descriptions for cover photo and then generates cover photo and use Cloudinary to get URL.**\n",
        "height": 460,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        1888
      ],
      "typeVersion": 1,
      "id": "cd65c291-41fd-44aa-a05b-7b3c2d25141c",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Last Page Cover Photo\n**Generetaes visual descriptions for cover photo and then generates cover photo and use Cloudinary to get URL.**\n",
        "height": 460,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        1888
      ],
      "typeVersion": 1,
      "id": "39229811-a11c-4203-9a73-0eb460f190fe",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Final PDF\n**Use all the inputs and create html code and send it to PDFco. which create PDF and send back the url and we send ir back to the webhook.**\n",
        "height": 460,
        "width": 920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3792,
        1888
      ],
      "typeVersion": 1,
      "id": "6b1ccdec-87e3-42c0-996a-0bcec66f95a3",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Landmarks summary + Array Generation\n**Generetaes summary for lanmarks because it is too long to be processed RAW. And we create an array of 16 items for the loop.**\n",
        "height": 340,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        2528
      ],
      "typeVersion": 1,
      "id": "158ae6cb-167a-4492-8fe0-4abf84a4ad7c",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent assistant trained to extract structured story data. Given a story that contains multiple scenes, each titled and numbered (e.g., \"Scene 1: ...\", \"Scene 2: ...\"), your task is to extract the specific scene number requested by the user, along with its corresponding title and scene content.\nOnly return the exact scene requested. Do not return or mention any other scene numbers or content.",
              "role": "system"
            },
            {
              "content": "=Now extract only Scene {{ $json.scene }} , including its title and content. Do not include other sccenes.\nFormat should be:\nscene content only, no title, no scene number no nothing. just the content without any description and additional text.\n(It should not be like scene number: title: scene: content)\nThe story: {{ $('Script_Disney').item.json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1008,
        2688
      ],
      "id": "306bd939-dcd1-4ebd-b20d-e8166e757246",
      "name": "Message a model1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a84d2cfb-3266-4f3c-a65b-29c291dc237c",
                    "leftValue": "={{ $json.theme }}",
                    "rightValue": "Ghibli",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ghibli"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.theme }}",
                    "rightValue": "Disney",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c03a162-85a5-4eda-9efc-ff7f5b1ec11b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disney"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f21bdd7-84f3-471a-83e5-b9268aa72610",
                    "leftValue": "={{ $json.theme }}",
                    "rightValue": "Cartoon",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cartoon"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -688,
        2656
      ],
      "id": "ef35629c-7179-432a-a37e-cdca6aad8ce8",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Cartoon\n",
        "width": 4940,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        3296
      ],
      "typeVersion": 1,
      "id": "1096e236-f61f-47f6-880e-2d9891464cec",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Here is the link:\nPlease copy the link and paste it in your browser:\n {{ $json.url }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4448,
        3696
      ],
      "id": "00b98b26-2b78-4258-a2e5-b23e9902a3ec",
      "name": "Respond to Webhook2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a high-quality children's book cover illustration in the style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}.\n\nYou are a professional children's illustrator. Your goal is to create a grounded, realistic, and cinematic cover that features a child protagonist at the heart of the story. The environment should be imaginative but believable — avoid glowing, floating, or surreal fantasy effects unless explicitly described in the scene.\n\nThe scene is set around “{{ $json.message.content }}”, based on the world of {{ $item(0).$node[\"Webhook\"].json.body.universe }}.\nThe child’s name is {{ $item(0).$node[\"Webhook\"].json.body.child_name }}, a {{ $item(0).$node[\"Webhook\"].json.body.age }}-year-old with {{ $item(0).$node[\"Webhook\"].json.body.hair_type }} {{ $item(0).$node[\"Webhook\"].json.body.hair_color }} hair and {{ $item(0).$node[\"Webhook\"].json.body.eye_color }} eyes.\nTheir emotional tone is {{ $item(0).$node[\"Merge\"].json.attributes.emotion }}, and they are joined by their companion: {{ $item(0).$node[\"Webhook\"].json.body.companion }}.\n\nThe child should be central, clearly visible, and rendered with accurate facial structure and natural lighting. Clothes and posture must reflect real-world textures and proportions. Avoid stylizing the background too much — make it gentle and storybook-like, but grounded in realism.\n\nUse only the visual style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}:\nuse Cartoon style: thick outlines, bright colors, bold shapes, and playful layout. Include colorful story items like the companion’s toy or glowing gadgets. Add a little fantasy from the story, but no magic unless described. Follow vivid image style.\n\nSkin tone: {{ $item(0).$node[\"Webhook\"].json.body.skin_tone_other ? $item(0).$node[\"Webhook\"].json.body.skin_tone_other : $item(0).$node[\"Webhook\"].json.body.skin_tone }}\n\n\nAvoid extreme sharpness, glowing lights, or magical particles unless they’re specifically required by the setting description.\n\nDo NOT include any text on the image.I repeat THERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE.",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2112,
        3728
      ],
      "id": "c3c8cbdf-3ba6-4641-8357-3fff627f8d46",
      "name": "Cover photo2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        4288
      ],
      "id": "2b9ee83b-5c8f-45a4-94c1-fc3ea9f42a06",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate an {{ $item(0).$node[\"Webhook\"].json.body.theme }} style image based on the story below. The style must be followed **exactly** and not resemble any other.\n\nScene:\n{{ $json.message.content }}\n\nStrictly follow the {{ $item(0).$node[\"Webhook\"].json.body.theme }} visual language:\nUse cartoon-style visuals: Pastel color palette, flat shading, simple shapes, thick outlines, playful character design, cheerful mood and setting.\n\nNote: Don't mix the styles. Use only the style that is asked by the user.\n\nThe kid has {{ $('Merge').item.json.hair_color }} {{ $('Merge').item.json.hair_type }} hair and {{ $('Merge').item.json.eye_color }} eyes.\nSkin tone: {{ $('Webhook').item.json.body.skin_tone_other || $('Webhook').item.json.body.skin_tone }}\n\n\nThe child must have **exactly the same face, hair, eye color, skin tone, and clothing** in every image. Their companion must appear clearly beside them. Match facial expression, body posture, outfit, and action with the described story.\n\nThe background and setting **must strictly match** the story. Do not alter or invent scenery.\n\n**Do NOT include any glowing, floating, magical, or surreal effects unless clearly stated.**  \n**Do NOT add any text to the image.**\n\n",
        "options": {
          "dalleQuality": "standard",
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2208,
        4208
      ],
      "id": "8c13febd-4286-4d17-a98d-a6652562658a",
      "name": "Generate an image2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional illustrator’s assistant for children’s picture books.\n\nimportant: the character count should not exceed 2000 characters including all the punctuations.\n\nYou are given a story scene and must describe only the visible, realistic elements needed to create a cartoon-style image. Your job is to generate a single, grounded, real-world or light-fantasy frame with clear child-friendly imagery — no surrealism or magical effects unless directly mentioned in the scene.\n\nNote: Don't mix the styles (disney,cartoon or ghibli). Use only style that is asked by the user.\n\nYou MUST visually reflect the specified style:\n- Cartoon: thick outlines, bright colors, bold shapes, and playful layout. Include colorful story items like the companion’s toy or glowing gadgets. Add a little fantasy from the story, but no magic unless described. Follow vivid image style.\n\nFocus only on: child’s appearance, clothing, background setting, visible action, companion, and mood. Avoid generic language. Make it match the scene. No dialogue, no thoughts, and no text in image.\n\n\n Avoid words like “blast,” “ritual,” “possessed,” “haunted,” “curse,” “blood,” (all similar words or phrases that go against openAi's policy and safety system) etc. Because openAi consider it bad request so prevent using any word that goes against openAi standards and policies.",
              "role": "system"
            },
            {
              "content": "=\nScene:\n{{ $item(0).$node[\"Message a model2\"].json.message.content }}\n\n\nThe child is a young {{ $item(0).$node[\"Webhook\"].json.body.gender }} with {{ $item(0).$node[\"Webhook\"].json.body.hair_type }} {{ $item(0).$node[\"Webhook\"].json.body.hair_color }} hair, {{ $item(0).$node[\"Webhook\"].json.body.eye_color }} eyes, and {{ $item(0).$node[\"Webhook\"].json.body.skin_tone_other || $item(0).$node[\"Webhook\"].json.body.skin_tone }} skin tone.  \nTheir companion is {{ $item(0).$node[\"Webhook\"].json.body.companion }}.\n\nThe kid has these additional things in the list: {{ $('Merge').item.json.DetectedObjects }} {{ $('Merge').item.json.VisualTraits }} (use only objects like hat, phone, etc. from this list, and not any traits from this list). Use them if they are in the script.\n\nchild reference url: {{ $('Edit Fields2').item.json.url }} \n\nDraw this in the **exact** style of {{ $item(0).$node[\"Webhook\"].json.body.theme }}.\n\nUse Cartoon style: thick outlines, bright colors, bold shapes, and playful layout. Include colorful story items like the companion’s toy or glowing gadgets. Add a little fantasy from the story, but no magic unless described. Follow vivid image style.\n\nOnly include visible, child-safe things: environment, character pose, facial expression, outfit, mood, lighting. No magical or glowing effects unless described.  \nDo not include any written text.\nThe illustration must use a {{ $item(0).$node[\"Webhook\"].json.body.theme }}-inspired visual style.\n\nFacial structure reference landmarks: {{ $item(0).$node[\"summary of landmarks2\"].json.landmark_summary }}.\nSkin: {{ $item(0).$node[\"Merge\"].json.attributes.skin }}\n\nDescribe the visual composition as a single, clear image based on the scene.keep it child-friendly.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1424,
        4208
      ],
      "id": "fac6994e-03c6-464c-9c67-c20aba42753b",
      "name": "Image Description2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const landmarks = $('face++').first().json.faces[0].landmark;\n\nconst importantLandmarks = [\n  'contour_left6',\n  'contour_right1',\n  'nose_tip',\n  'nose_left_contour5',\n  'nose_right_contour5',\n  'right_eye_center',\n  'right_eye_top',\n  'right_eye_bottom',\n  'right_eye_left_corner',\n  'right_eye_right_corner',\n  'left_eye_center',\n  'left_eye_top',\n  'left_eye_bottom',\n  'left_eye_left_corner',\n  'left_eye_right_corner',\n  'mouth_left_corner',\n  'mouth_right_corner',\n  'mouth_upper_lip_top',\n  'mouth_lower_lip_bottom',\n  'left_eyebrow_lower_middle',\n  'right_eyebrow_lower_middle',\n\n  // Chin landmarks added below\n  'contour_chin',\n  'contour_chin2',\n  'contour_chin4'\n];\n\n// Convert each point to compact format like \"nose_tip:397,200\"\nconst summary = importantLandmarks\n  .filter(name => landmarks[name])\n  .map(name => {\n    const point = landmarks[name];\n    return `${name}:${Math.round(point.x)},${Math.round(point.y)}`;\n  })\n  .join(' | ');\n\nreturn [\n  {\n    json: {\n      landmark_summary: summary\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        4288
      ],
      "id": "46a01872-9137-4f08-9203-a47b44d59032",
      "name": "summary of landmarks2"
    },
    {
      "parameters": {
        "jsCode": "return Array.from({ length: 16 }, (_, i) => ({\n  json: { scene: i + 1 }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        4288
      ],
      "id": "dd380150-2a12-41bd-823f-fab15f6594c6",
      "name": "Counter array for loop2"
    },
    {
      "parameters": {
        "jsCode": "let allScenes = [];\n\nfor (const item of items) {\n  const scenes = item.json.scenes || [];\n  for (let i = 0; i < scenes.length; i++) {\n    const text = scenes[i].text || '';\n    allScenes.push(`**Scene ${i + 1}**\\n\\n${text}`);\n  }\n}\n\nreturn [{ json: { allScenes: allScenes.join('\\n\\n') } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        3696
      ],
      "id": "3aa745ac-25a1-4b06-8509-c2155d1066c8",
      "name": "Combine the scenes2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a children’s book editor. Given a list of scenes from a story, write a friendly, short summary that captures the magic, journey, and emotional core of the story without repeating scenes.\n\nYou MUST visually reflect the specified style:\nCartoon: thick outlines, bright colors, bold shapes, and playful layout. Include colorful story items like the companion’s toy or glowing gadgets. Add a little fantasy from the story, but no magic unless described. Follow vivid image style.\n\n\nTHERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE.",
              "role": "system"
            },
            {
              "content": "=Based on these 16 scenes, write a 4–5 sentence story summary for the front cover page of a children's book and don't forget to mention the wearables or gadgets if used in the story (like glasses,etc):\\n\\n{{ $('Combine the scenes2').item.json.allScenes }}\n\n{{ $item(0).$node[\"Merge\"].json.hair_color }} {{ $item(0).$node[\"Merge\"].json.hair_type }} hair and {{ $item(0).$node[\"Merge\"].json.eye_color }} eyes.\n\n\nTHERE SHOULD BE NO TEXT WRITTEN ON THE IMAGE."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1744,
        3696
      ],
      "id": "1d801ff6-084d-4b7e-a1a1-67f920614cb7",
      "name": "Prompt for cover img2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a children’s book editor. Given a list of scenes from a story, write a friendly, short summary that captures the magic, journey, and emotional core of the story without repeating scenes.\n\nYou MUST visually reflect the specified style:\n- Cartoon: thick outlines, bright colors, bold shapes, and playful layout. Include colorful story items like the companion’s toy or glowing gadgets. Add a little fantasy from the story, but no magic unless described. Follow vivid image style.",
              "role": "system"
            },
            {
              "content": "=Based on these 16 scenes, write a 4–5 sentence story summary for the back cover page of a children's book:\\n\\n{{ $('Combine the scenes2').item.json.allScenes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2800,
        3696
      ],
      "id": "5a31df64-3a44-4b8a-9693-1dfd69a0b347",
      "name": "prompt for back cover2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Generate a single-frame, wide horizontal children's book back cover illustration in {{ $item(0).$node[\"Webhook\"].json.body.theme }} style.\n\nYou are a visual designer creating imaginative yet grounded children’s book back covers. This image should reflect the world of the story through its setting, color palette, and symbolic details — without showing any characters.\n\nThe scene is inspired by the {{ $item(0).$node[\"Webhook\"].json.body.universe }} universe and the following summary:\n“{{ $('prompt for back cover2').item.json.message.content }}”\n\nThe goal is to evoke a sense of wonder, safety, and curiosity while keeping the tone realistic, not surreal or fantastical. Use a grounded setting like a gentle forest path, a quiet hilltop, a cozy attic corner, or a ship deck — styled according to the story's universe.\n\nInclude symbolic props (e.g., the child’s {{ $item(0).$node[\"Webhook\"].json.body.companion }}, toys, tools, glowing bottle, parchment map, tree swing, floating leaf, telescope, etc.) that reflect important themes of the story. These should appear naturally placed and not floating or glowing.\n\nMatch the visual style:\nuse Cartoon style: thick outlines, bright colors, bold shapes, and playful layout. Include colorful story items like the companion’s toy or glowing gadgets. Add a little fantasy from the story, but no magic unless described. Follow vivid image style.\n\nUse soft lighting, atmospheric depth, and gentle gradients. Leave enough empty visual space (e.g., sky, blank wall, grassy patch) for summary text and publisher info to be added later.\n\nReminder: Do not include any character, face, or person. Do not create a double-page spread. This must be a single-frame horizontal back cover illustration.",
        "options": {
          "dalleQuality": "standard",
          "size": "1792x1024",
          "style": "vivid"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3152,
        3728
      ],
      "id": "598123c2-e591-4265-9ca2-65bec95818ac",
      "name": "back cover2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3184,
        4320
      ],
      "id": "34341f65-d288-4f5a-9e3b-00aeb2f18939",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    scenes: items.map(item => ({\n      text: item.json.message.content,\n      image: item.json.url  // assuming the image URL is stored in item.json.url\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        3696
      ],
      "id": "8bbfb6d2-2d3d-4b1d-a8ec-35f2953fd911",
      "name": "Code7"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a helpful assistant who takes all the scenes from a book and summarize them in 5-8 lines without loosing key details. Note that we it has to be written at the end of the book. Write it in the ending note kind of matter (no need to write scene 1 scene xyz). the summary should be of collective scenes. No need to give any heading. just the summary.\n\nSummary should be in specified language.",
              "role": "system"
            },
            {
              "content": "=summarize all the scenes in 5-8 lines and don't loose any key information. {{ $json.allScenes }}\n\nsummary should be in: {{ $item(0).$node[\"Webhook\"].json.body.language }} language."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        3696
      ],
      "id": "18facbdb-89aa-4fb2-83be-143f415c531b",
      "name": "Summarize the book2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eab97dc8-9760-4c23-b71c-6e8fbc0e45aa",
              "name": "cover photo image",
              "value": "=\n{{ $('HTTP Request8').item.json.secure_url }}",
              "type": "string"
            },
            {
              "id": "060c63fc-8574-45d4-a440-6c7df259ce71",
              "name": "body.dedication",
              "value": "={{ $item(0).$node[\"Webhook\"].json.body.dedication }}",
              "type": "string"
            },
            {
              "id": "d1db54eb-436a-4674-b28d-77c0f4a9aa9b",
              "name": "scenes+images",
              "value": "={{ $('Code7').item.json.scenes }}",
              "type": "array"
            },
            {
              "id": "17a6e511-0133-440c-b4e8-ef5c69546339",
              "name": "back cover photo",
              "value": "={{ $json.secure_url }}\n",
              "type": "string"
            },
            {
              "id": "526ef383-9d89-41b6-abb9-08706afcd3cf",
              "name": "summary of book",
              "value": "={{ $('Summarize the book2').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "1e618d61-6c60-417b-a5d5-75979f3b66ed",
              "name": "book_title",
              "value": "={{ $item(0).$node[\"Webhook\"].json.body.book_title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3744,
        3696
      ],
      "id": "a137dc5e-f07e-42c6-a268-fc57d713c300",
      "name": "Final Data2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "=\n {{ $json.html }}",
        "advancedOptions": {
          "name": "storyBook",
          "custom": "200mm 200mm"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        4160,
        3696
      ],
      "id": "cee6a740-a670-46e9-96e1-941ce1ab1849",
      "name": "PDFco Api2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cover = $input.first().json['cover photo image'];\nconst dedication = $input.first().json.body.dedication;\nconst scenes = $input.first().json['scenes+images'];\nconst backCover = $input.first().json['back cover photo'];\nconst summary = $input.first().json['summary of book'];\nconst title = $input.first().json.book_title || \"Untitled Adventure\";\n\n// Build scene pages with text-wrapping layout\nconst scenePages = scenes.map((scene, index) => {\n  const chapterNumber = index + 1;\n  const isLast = index === scenes.length - 1;\n  \n  // Calculate dynamic font size based on text length\n  const textLength = scene.text.length;\n  let fontSize, dropCapSize, lineHeight;\n  \n  if (textLength < 200) {\n    // Very short text - larger font\n    fontSize = '20px';\n    dropCapSize = '5em';\n    lineHeight = '1.8';\n  } else if (textLength < 400) {\n    // Short text - medium-large font\n    fontSize = '20px';\n    dropCapSize = '4.5em';\n    lineHeight = '1.7';\n  } else if (textLength < 800) {\n    // Medium text - standard font\n    fontSize = '20px';\n    dropCapSize = '4em';\n    lineHeight = '1.6';\n  } else if (textLength < 1200) {\n    // Long text - smaller font\n    fontSize = '18px';\n    dropCapSize = '3.5em';\n    lineHeight = '1.5';\n  } else {\n    // Very long text - smallest font\n    fontSize = '16px';\n    dropCapSize = '3em';\n    lineHeight = '1.4';\n  }\n  \n  return `\n    <div class=\"page scene-page\">\n      <div class=\"page-header\">\n        <div class=\"chapter-number\">Chapter ${chapterNumber}</div>\n        <div class=\"page-num\">${index + 2}</div>\n      </div>\n      \n      <div class=\"content-wrapper\">\n        <div class=\"scene-content\">\n          <img src=\"${scene.image}\" class=\"scene-image\" />\n          <div class=\"scene-text\" style=\"font-size: ${fontSize}; line-height: ${lineHeight};\">\n            <span class=\"drop-cap\" style=\"font-size: ${dropCapSize};\">${scene.text.charAt(0)}</span>${scene.text.slice(1)}\n          </div>\n          ${isLast ? `<div class=\"the-end\">~ The End ~</div>` : ''}\n        </div>\n      </div>\n      \n      <div class=\"decorative-border\"></div>\n    </div>\n  `;\n}).join('\\n');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>${title}</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Cinzel:wght@400;500;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap\" rel=\"stylesheet\">\n  <style>\n    @page {\n      size: 200mm 200mm;\n      margin: 0;\n    }\n    \n    * {\n      box-sizing: border-box;\n    }\n    \n    body {\n      font-family: 'Crimson Text', serif;\n      margin: 0;\n      padding: 0;\n      background: #faf8f5;\n      color: #2d2d2d;\n    }\n    \n    .page {\n      width: 200mm;\n      height: 200mm;\n      page-break-after: always;\n      position: relative;\n      background: linear-gradient(135deg, #faf8f5 0%, #f5f2ed 100%);\n      overflow: hidden;\n    }\n    \n    /* Cover Page Styling */\n    .cover {\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      text-align: center;\n      padding: 30mm;\n      background: linear-gradient(135deg, #f8f6f2 0%, #ede8e0 50%, #f8f6f2 100%);\n      color: #2d2d2d;\n      position: relative;\n    }\n    \n    .cover::before {\n      content: '';\n      position: absolute;\n      top: 15mm;\n      left: 15mm;\n      right: 15mm;\n      bottom: 15mm;\n      border: 3px solid #8b4513;\n      border-radius: 8px;\n    }\n    \n    .cover-title {\n      font-family: 'Cinzel', serif;\n      font-size: 32px;\n      font-weight: 600;\n      margin-bottom: 20mm;\n      text-shadow: 1px 1px 2px rgba(0,0,0,0.1);\n      z-index: 2;\n      position: relative;\n      color: #8b4513;\n    }\n    \n    .cover-image {\n      max-width: 90%;\n      max-height: 400px;\n      object-fit: contain;\n      border-radius: 12px;\n      box-shadow: 0 8px 25px rgba(0,0,0,0.2);\n      margin-bottom: 15mm;\n      z-index: 2;\n      position: relative;\n    }\n    \n    .dedication {\n      font-size: 16px;\n      font-style: italic;\n      line-height: 1.4;\n      z-index: 2;\n      position: relative;\n      opacity: 0.8;\n      color: #555;\n    }\n    \n    /* Scene Page Styling */\n    .scene-page {\n      padding: 15mm;\n    }\n    \n    .page-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10mm;\n      padding-bottom: 5mm;\n      border-bottom: 2px solid #d4af37;\n    }\n    \n    .chapter-number {\n      font-family: 'Cinzel', serif;\n      font-size: 22px;\n      font-weight: 500;\n      color: #8b4513;\n    }\n    \n    .page-num {\n      font-family: 'Libre Baskerville', serif;\n      font-size: 14px;\n      color: #666;\n    }\n    \n    .content-wrapper {\n      min-height: calc(200mm - 60mm);\n      padding: 5mm 0;\n    }\n    \n    .scene-content {\n      position: relative;\n      height: 100%;\n    }\n    \n    .scene-image {\n      float: left;\n      width: 70mm;\n      max-height: 70mm;\n      object-fit: contain;\n      border-radius: 8px;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.15);\n      margin: 10px 15px 15px 0;\n      shape-outside: margin-box;\n    }\n    \n    .scene-text {\n      text-align: justify;\n      color: #333;\n      hyphens: auto;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n    }\n    \n    /* Drop cap styling for first letter */\n    .drop-cap {\n      float: left;\n      font-family: 'Cinzel', serif;\n      line-height: 0.8;\n      padding-right: 8px;\n      padding-top: 4px;\n      color: #8b4513;\n      font-weight: 600;\n    }\n    \n    .the-end {\n      clear: both;\n      margin-top: 20mm;\n      font-family: 'Cinzel', serif;\n      font-size: 18px;\n      text-align: center;\n      color: #8b4513;\n      font-weight: 500;\n    }\n    \n    .decorative-border {\n      position: absolute;\n      top: 8mm;\n      left: 8mm;\n      right: 8mm;\n      bottom: 8mm;\n      border: 1px solid #e8dcc0;\n      border-radius: 4px;\n      pointer-events: none;\n    }\n    \n    /* Back Cover Styling */\n    .back-cover {\n      display: flex;\n      flex-direction: column;\n      padding: 20mm;\n      background: linear-gradient(135deg, #f8f6f2 0%, #ede8e0 50%, #f8f6f2 100%);\n      color: #2d2d2d;\n      position: relative;\n    }\n    \n    .back-cover::before {\n      content: '';\n      position: absolute;\n      top: 15mm;\n      left: 15mm;\n      right: 15mm;\n      bottom: 15mm;\n      border: 2px solid #8b4513;\n      border-radius: 8px;\n    }\n    \n    .back-cover-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10mm;\n      padding-bottom: 5mm;\n      border-bottom: 2px solid #d4af37;\n      z-index: 2;\n      position: relative;\n    }\n    \n    .summary-title {\n      font-family: 'Cinzel', serif;\n      font-size: 22px;\n      font-weight: 500;\n      color: #8b4513;\n    }\n    \n    .back-image {\n      width: 100%;\n      max-height: 80mm;\n      object-fit: contain;\n      border-radius: 8px;\n      margin-bottom: 15mm;\n      box-shadow: 0 6px 20px rgba(0,0,0,0.2);\n      z-index: 2;\n      position: relative;\n    }\n    \n    .summary {\n      text-align: justify;\n      z-index: 2;\n      position: relative;\n      color: #333;\n      word-wrap: break-word;\n      overflow-wrap: break-word;\n      flex: 1;\n    }\n    \n    .back-page-num {\n      position: absolute;\n      bottom: 10mm;\n      right: 20mm;\n      font-size: 12px;\n      color: #666;\n      z-index: 2;\n    }\n  </style>\n</head>\n<body>\n  <!-- Cover Page -->\n  <div class=\"page cover\">\n    <div class=\"cover-title\">${title}</div>\n    <img src=\"${cover}\" class=\"cover-image\" />\n    <div class=\"dedication\">${dedication}</div>\n  </div>\n  \n  <!-- Scene Pages -->\n  ${scenePages}\n  \n  <!-- Back Cover Page -->\n  <div class=\"page back-cover\">\n    <div class=\"back-cover-header\">\n      <div class=\"summary-title\">Summary</div>\n      <div class=\"page-num\">${scenes.length + 2}</div>\n    </div>\n    <img src=\"${backCover}\" class=\"back-image\" />\n    <div class=\"summary\" style=\"font-size: ${summary.length < 300 ? '17px' : summary.length < 600 ? '16px' : '15px'}; line-height: ${summary.length < 300 ? '1.6' : summary.length < 600 ? '1.5' : '1.4'};\">${summary}</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        3696
      ],
      "id": "0a060949-49cd-427c-871b-959d9d308d33",
      "name": "Code8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/df4f7stda/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "n8n_folder"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        4176
      ],
      "id": "6f056a1a-eca4-452f-86f4-022f950bdf6d",
      "name": "HTTP Request7",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03e42fe8-46ff-4c2d-b942-a659f769cee3",
              "name": "url",
              "value": "={{ $json.secure_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        4176
      ],
      "id": "57f6352f-4d7c-4073-bfb3-02461edee751",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/df4f7stda/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "n8n_folder"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        3696
      ],
      "id": "42595393-9f6b-4e20-8dad-e170a9cd6ff8",
      "name": "HTTP Request8",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/df4f7stda/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "n8n_folder"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        3696
      ],
      "id": "a93a6f9d-dbef-4ad4-9a19-5a76c13d33c8",
      "name": "HTTP Request9",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Create Array + Combine scenes\n**First code node converts the scene+urls into an array so we pdfco. can iterate through it and th second code node combines all the scenes to make the summary of the book.**",
        "height": 380,
        "width": 840,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        3536
      ],
      "typeVersion": 1,
      "id": "d083c057-1efa-436a-bee5-c15656be7dd6",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Front Page Cover Photo\n**Generetaes visual descriptions for cover photo and then generates cover photo and use Cloudinary to get URL.**\n",
        "height": 460,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        3504
      ],
      "typeVersion": 1,
      "id": "70e846dc-c810-40d2-a1a2-51e16bfbf5ad",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Last Page Cover Photo\n**Generetaes visual descriptions for cover photo and then generates cover photo and use Cloudinary to get URL.**\n",
        "height": 460,
        "width": 880,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2704,
        3504
      ],
      "typeVersion": 1,
      "id": "6956328c-f949-49ca-aee9-fc020105568a",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Final PDF\n**Use all the inputs and create html code and send it to PDFco. which create PDF and send back the url and we send ir back to the webhook.**\n",
        "height": 460,
        "width": 920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3728,
        3504
      ],
      "typeVersion": 1,
      "id": "c3b1a6f4-debb-4867-bcde-1a907604aef7",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Landmarks summary + Array Generation\n**Generetaes summary for lanmarks because it is too long to be processed RAW. And we create an array of 16 items for the loop.**\n",
        "height": 340,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        4144
      ],
      "typeVersion": 1,
      "id": "41663bcd-f3dc-4295-bd57-c69cc3b3be7e",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent assistant trained to extract structured story data. Given a story that contains multiple scenes, each titled and numbered (e.g., \"Scene 1: ...\", \"Scene 2: ...\"), your task is to extract the specific scene number requested by the user, along with its corresponding title and scene content.\nOnly return the exact scene requested. Do not return or mention any other scene numbers or content.",
              "role": "system"
            },
            {
              "content": "=Now extract only Scene {{ $json.scene }} , including its title and content. Do not include other sccenes.\nFormat should be:\nscene content only, no title, no scene number no nothing. just the content without any description and additional text.\n(It should not be like scene number: title: scene: content)\nThe story: {{ $('Script_cartoon').item.json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        944,
        4304
      ],
      "id": "d8ce5d65-ee1b-4777-a071-a72e14562dbb",
      "name": "Message a model2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Script + Scene\n**Generetaes script scene, convert the scene into visual description for Dall-e-3 to create effective images.**",
        "height": 460,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        4128
      ],
      "typeVersion": 1,
      "id": "c58cb02a-ce75-4402-b864-04afdd005477",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Image generation + URL conversion\n**Generetaes image according to the scene and send it to cloudinary to create its URL and them we merge the scene+url**",
        "height": 460,
        "width": 1340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        4096
      ],
      "typeVersion": 1,
      "id": "ae21d492-b84f-4c72-8fba-bbbe9c485a82",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a creative children's storybook writer. Your task is to write a vivid, emotionally engaging 16-scene adventure story for a young child. The story should include elements of magic and wonder, but remain grounded enough to be easily understood by younger readers. Avoid overly complex fantasy worlds—keep the language simple, the plot relatable, and the imagination accessible to a child's level of understanding.\n\nEach scene must read like part of a continuous, flowing story — not a summary. Use rich, imaginative language and playful tone suitable for a child of the specified age.\nStart the story with kid's introduction.\nFocus on showing, not telling. Each scene should feel like it’s unfolding in real time, with action, emotion, and wonder.\n\nAvoid naming physical traits like skin tone, eye color, or hair details unless they are part of the action. Use the given companion (e.g., cat, dragon, etc) and give it a name.\n\nAdditionally, follow these strict character limits based on the child's age:\nAge 3-4: each scene should be around 200 characters, do not exceed. I am stressing on it again \"it should not exceed 200characters\".\n\nAge5-6: each scene should be around 400 characters, do not exceed. I am stressing on it again \"it should not exceed 400 characters\".\n\nAge 7-8: each scene should be around 720 characters, do not exceed. I am stressing on it again \"it should not exceed 720 characters\".\n\nAge 9: each scene should be around 1100 characters, do not exceed. I am stressing on it again \"it should not exceed 1100 characters\".\n\nStrictly follow the character limit depending upon the age.\n\nThe format should be:\nScene number: \nTitle:\nScene:\nno need to mention age group and other instructions in the script.\n\nAvoid the kind of text that is not allowed by OpenAI safety system.\nAvoid words like “blast,” “ritual,” “possessed,” “haunted,” “curse,” “blood,” (all similar words or phrases that go against OpenAI's policy and safety system) etc. Because OpenAI considers it a bad request, prevent using any word that goes against OpenAI standards and policies.\n\nKeep each scene unique, imaginative, and emotionally warm — as if the reader is stepping into a living world.\n",
              "role": "system"
            },
            {
              "content": "=Write a 16-scene magical adventure story for a child named {{ $('Webhook').item.json.body.child_name }}, a {{ $('Webhook').item.json.body.age }}-year-old {{ $('Webhook').item.json.body.gender }}.\n \nThe kid has {{ $('Merge').item.json.hair_color }} {{ $('Merge').item.json.hair_type }} hair and {{ $('Merge').item.json.eye_color }} eyes.\n\nThe kid is {{ $('Merge').item.json.attributes.glasses }} (glasses). \n\nThe kid has these additional things in the list: {{ $('Merge').item.json.DetectedObjects }} {{ $('Merge').item.json.VisualTraits }} (use only objects like hat, phone, etc. from this list, and not any traits from this list)\n\nThey are known for being {{ $('Webhook').item.json.body.traits }} and dream of {{ $('Webhook').item.json.body.wish }}.\n\nThe story takes place in a world of {{ $('Webhook').item.json.body.universe }}, illustrated in a {{ $('Webhook').item.json.body.theme }} style.\n\nTheir loyal companion is a {{ $('Webhook').item.json.body.companion }}, give it a name, who joins them on every magical journey.\n\n{{ $('Webhook').item.json.body.quality ? 'The story should also explore the theme of ' + $('Webhook').item.json.body.quality + '.' : '' }}\n\nThe child is {{ $('Webhook').item.json.body.age }} years old. The story must be written in {{ $item(0).$node[\"Webhook\"].json.body.language }}.\n\nEnsure each scene continues the previous one, maintaining a clear thread and story arc across the 16 scenes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -64,
        4288
      ],
      "id": "de491eb7-e94e-44a8-b46f-2a4af6323434",
      "name": "Script_cartoon"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a creative children's storybook writer. Your task is to write a vivid, emotionally engaging 16-scene adventure story for a young child. The story should include elements of magic and wonder, but remain grounded enough to be easily understood by younger readers. Avoid overly complex fantasy worlds—keep the language simple, the plot relatable, and the imagination accessible to a child's level of understanding.\n\nEach scene must read like part of a continuous, flowing story — not a summary. Use rich, imaginative language and playful tone suitable for a child of the specified age.\n\nFocus on showing, not telling. Each scene should feel like it’s unfolding in real time, with action, emotion, and wonder.\n\nAvoid naming physical traits like skin tone, eye color, or hair details unless they are part of the action. Use the given companion (e.g., cat, dragon, etc) and give it a name.\n\nAdditionally, follow these strict character limits based on the child's age:\nAge 3-4: each scene should be around 200 characters, do not exceed. I am stressing on it again \"it should not exceed 200characters\".\n\nAge5-6: each scene should be around 400 characters, do not exceed. I am stressing on it again \"it should not exceed 400 characters\".\n\nAge 7-8: each scene should be around 720 characters, do not exceed. I am stressing on it again \"it should not exceed 720 characters\".\n\nAge 9: each scene should be around 1100 characters, do not exceed. I am stressing on it again \"it should not exceed 1100 characters\".\n\nStrictly follow the character limit depending upon the age.\n\nThe format should be:\nScene number: \nTitle:\nScene:\nno need to mention age group and other instructions in the script.\n\nAvoid the kind of text that is not allowed by OpenAI safety system.\nAvoid words like “blast,” “ritual,” “possessed,” “haunted,” “curse,” “blood,” (all similar words or phrases that go against OpenAI's policy and safety system) etc. Because OpenAI considers it a bad request, prevent using any word that goes against OpenAI standards and policies.\n\nKeep each scene unique, imaginative, and emotionally warm — as if the reader is stepping into a living world.\n",
              "role": "system"
            },
            {
              "content": "=Write a 16-scene magical adventure story for a child named {{ $('Webhook').item.json.body.child_name }}, a {{ $('Webhook').item.json.body.age }}-year-old {{ $('Webhook').item.json.body.gender }}.\n \nThe kid has {{ $('Merge').item.json.hair_color }} {{ $('Merge').item.json.hair_type }} hair and {{ $('Merge').item.json.eye_color }} eyes.\n\nThe kid is {{ $('Merge').item.json.attributes.glasses }} (glasses). \n\nThe kid has these additional things in the list: {{ $('Merge').item.json.DetectedObjects }} {{ $('Merge').item.json.VisualTraits }} (use only objects like hat, phone, etc. from this list, and not any traits from this list)\n\nThey are known for being {{ $('Webhook').item.json.body.traits }} and dream of {{ $('Webhook').item.json.body.wish }}.\n\nThe story takes place in a world of {{ $('Webhook').item.json.body.universe }}, illustrated in a {{ $('Webhook').item.json.body.theme }} style.\n\nTheir loyal companion is a {{ $('Webhook').item.json.body.companion }}, give it a name, who joins them on every magical journey.\n\n{{ $('Webhook').item.json.body.quality ? 'The story should also explore the theme of ' + $('Webhook').item.json.body.quality + '.' : '' }}\n\nThe child is {{ $('Webhook').item.json.body.age }} years old. The story must be written in {{ $item(0).$node[\"Webhook\"].json.body.language }}.\n\nEnsure each scene continues the previous one, maintaining a clear thread and story arc across the 16 scenes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        2656
      ],
      "id": "80da8018-658d-44e9-b9e2-b4f7ca14dbd8",
      "name": "Script_Disney"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a creative children's storybook writer. Your task is to write a vivid, emotionally engaging 16-scene adventure story for a young child. The story should include elements of magic and wonder, but remain grounded enough to be easily understood by younger readers. Avoid overly complex fantasy worlds—keep the language simple, the plot relatable, and the imagination accessible to a child's level of understanding.\n\nEach scene must read like part of a continuous, flowing story — not a summary. Use rich, imaginative language and playful tone suitable for a child of the specified age.\n\nFocus on showing, not telling. Each scene should feel like it’s unfolding in real time, with action, emotion, and wonder.\n\nAvoid naming physical traits like skin tone, eye color, or hair details unless they are part of the action. Use the given companion (e.g., cat, dragon, etc) and give it a name.\n\nAdditionally, follow these strict character limits based on the child's age:\nAge 3-4: each scene should be around 200 characters, do not exceed. I am stressing on it again \"it should not exceed 200characters\".\n\nAge5-6: each scene should be around 400 characters, do not exceed. I am stressing on it again \"it should not exceed 400 characters\".\n\nAge 7-8: each scene should be around 720 characters, do not exceed. I am stressing on it again \"it should not exceed 720 characters\".\n\nAge 9: each scene should be around 1100 characters, do not exceed. I am stressing on it again \"it should not exceed 1100 characters\".\n\nStrictly follow the character limit depending upon the age.\n\nThe format should be:\nScene number: \nTitle:\nScene:\nno need to mention age group and other instructions in the script.\n\nAvoid the kind of text that is not allowed by OpenAI safety system.\nAvoid words like “blast,” “ritual,” “possessed,” “haunted,” “curse,” “blood,” (all similar words or phrases that go against OpenAI's policy and safety system) etc. Because OpenAI considers it a bad request, prevent using any word that goes against OpenAI standards and policies.\n\nKeep each scene unique, imaginative, and emotionally warm — as if the reader is stepping into a living world.\n",
              "role": "system"
            },
            {
              "content": "=Write a 16-scene magical adventure story for a child named {{ $('Webhook').item.json.body.child_name }}, a {{ $('Webhook').item.json.body.age }}-year-old {{ $('Webhook').item.json.body.gender }}.\n \nThe kid has {{ $('Merge').item.json.hair_color }} {{ $('Merge').item.json.hair_type }} hair and {{ $('Merge').item.json.eye_color }} eyes.\n\nThe kid is {{ $('Merge').item.json.attributes.glasses }} (glasses). \n\nThe kid has these additional things in the list: {{ $('Merge').item.json.DetectedObjects }} {{ $('Merge').item.json.VisualTraits }} (use only objects like hat, phone, etc. from this list, and not any traits from this list)\n\nThey are known for being {{ $('Webhook').item.json.body.traits }} and dream of {{ $('Webhook').item.json.body.wish }}.\n\nThe story takes place in a world of {{ $('Webhook').item.json.body.universe }}, illustrated in a {{ $('Webhook').item.json.body.theme }} style.\n\nTheir loyal companion is a {{ $('Webhook').item.json.body.companion }}, give it a name, who joins them on every magical journey.\n\n{{ $('Webhook').item.json.body.quality ? 'The story should also explore the theme of ' + $('Webhook').item.json.body.quality + '.' : '' }}\n\nThe child is {{ $('Webhook').item.json.body.age }} years old. The story must be written in {{ $item(0).$node[\"Webhook\"].json.body.language }}.\n\nEnsure each scene continues the previous one, maintaining a clear thread and story arc across the 16 scenes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        144,
        1104
      ],
      "id": "10f66b19-548b-4f6d-ad85-0f09d67fed44",
      "name": "Script_Ghibli"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/xyz/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_preset",
              "value": "value_here"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "value_here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        2080
      ],
      "id": "4ce04bb2-de2b-4532-9064-081a28068d2c",
      "name": "HTTP Request10",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "face++": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vision": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Description": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover photo": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt for cover img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary of landmarks": {
      "main": [
        [
          {
            "node": "Script_Ghibli",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter array for loop": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine the scenes": {
      "main": [
        [
          {
            "node": "Summarize the book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt for cover img": {
      "main": [
        [
          {
            "node": "Cover photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt for back cover": {
      "main": [
        [
          {
            "node": "back cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "back cover": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prompt for back cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Combine the scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize the book": {
      "main": [
        [
          {
            "node": "Prompt for cover img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Data": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "prompt for back cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Image Description",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "face++",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover photo1": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt for cover img1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Description1": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary of landmarks1": {
      "main": [
        [
          {
            "node": "Script_Disney",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter array for loop1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine the scenes1": {
      "main": [
        [
          {
            "node": "Summarize the book1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt for cover img1": {
      "main": [
        [
          {
            "node": "Cover photo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt for back cover1": {
      "main": [
        [
          {
            "node": "back cover1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "back cover1": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prompt for back cover1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Combine the scenes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize the book1": {
      "main": [
        [
          {
            "node": "Prompt for cover img1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Data1": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "PDFco Api1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Final Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Image Description1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "summary of landmarks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "summary of landmarks1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "summary of landmarks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover photo2": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt for cover img2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image2": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Description2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Description2": {
      "main": [
        [
          {
            "node": "Generate an image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summary of landmarks2": {
      "main": [
        [
          {
            "node": "Script_cartoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter array for loop2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine the scenes2": {
      "main": [
        [
          {
            "node": "Summarize the book2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt for cover img2": {
      "main": [
        [
          {
            "node": "Cover photo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt for back cover2": {
      "main": [
        [
          {
            "node": "back cover2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "back cover2": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "prompt for back cover2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Combine the scenes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize the book2": {
      "main": [
        [
          {
            "node": "Prompt for cover img2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Data2": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "PDFco Api2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "prompt for back cover2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Final Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Image Description2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script_cartoon": {
      "main": [
        [
          {
            "node": "Counter array for loop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script_Disney": {
      "main": [
        [
          {
            "node": "Counter array for loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script_Ghibli": {
      "main": [
        [
          {
            "node": "Counter array for loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "prompt for back cover1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bab0c7be-4b88-475d-8ad5-5fb651f69e77",
  "meta": {
    "instanceId": "2bed7d0ec3bfb0d36e24cdb2b735559f87d360df9c199b631ac53433f502d6c5"
  },
  "id": "IwXSJn4fPlkIyRKv5vll6",
  "tags": []
}